.ui-bar-a {
	border: 1px solid #b3b3b3;
	background: #123f4a;
  background-size: 100% 100%;
	color: #dddddd;
	font-weight: bold;
}
.ui-bar-a .ui-link-inherit {
	color: #dddddd;
}
.ui-bar-a a.ui-link {
	color: #7cc4e7;
	font-weight: bold;
}
.ui-bar-a a.ui-link:visited {
  color: #2489ce;
}
.ui-bar-a a.ui-link:hover {
	color: #2489ce;
}
.ui-bar-a a.ui-link:active {
	color: #2489ce;
}
.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
  font-family: Helvetica, Arial, sans-serif;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0 1px 0 				  rgba(255,255,255,.3);
	-webkit-box-shadow: 0 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0 1px 0 					    rgba(255,255,255,.3);
}

