.ui-page {
  -webkit-backface-visibility: hidden;
}

/* Index */

#index-logo {
  width:100%;
  text-align:center;
}
#index-logo img {
  width:80%;
  max-width:300px;
}
#login-form {
  width:220px;
  margin: 0 auto;
  text-align:center;
}
#login-form a {
  color: #fff;
  text-shadow:none;
}
#about{
  position:absolute;
  bottom:0px;
  width:100%;
}
#about ul{
  list-style-type:none;
  text-align: center;
}
#about li{
  display:inline;
  text-align:center;
}
#about li a {
  color: #666;
  text-decoration:none;
}
#about li a:hover {
  color: blue;
}
/* End Index */

/* Content menu1 */
.content {
  padding-top:90px;
}
.icons {
  font-size: 12px;
  font-weight:900;
  text-align:center;
  color:#fff;
  text-shadow: none;
  width: 100%;
  font-family:sans-serif;
}
.icons td {
  width:25%;
}
.icons td img {
  width: 60%;
  max-width: 80px;
}
.ui-page {
  background: transparent url('../images/xlearning/fondo2.jpg') no-repeat center center fixed;
  background-size: cover;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.cart-name {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 700;
  color: green;
  padding-right: 10px;
  padding-top: 0px;
  margin-top:0;
}
.cart-role {
  border-left: 1px solid #aaa;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 700px;
  color: #aaa;
}
.feed {
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding:5px;
}
.center {
  margin: 0 auto;
  text-align:center;
}
/* End Content */

/* Content menu2 */
.menu2-content {
background:#fff;
margin-top:70px;
padding:10px;
border-radius: 0 0 10px 10px;
}
.menu2-content h1 {
text-align:center;

}
/* End Menu Content2 */

/* header and footer */
    @font-face
    {
    font-family: tallylean;
    src: url(TallyLean.ttf);
    }
    .header {
    text-align:center;
    border-bottom:2px solid #ccc;
    box-shadow:0 2px 2px #fff;
    color:#fff;
    position:fixed;
    top:0px;
    margin:auto;
    z-index:100000;
    width:100%;
    height: 70px;
    background:#fff;
    }
    .header h1{
    font-size:30px;
    position:absolute;
    right:10px;
    color:#333;
    }
    .footer {
    clear:both;
    border-top:2px solid #ccc;
    box-shadow:0 -4px 4px #eee;
    position:fixed;
    bottom:0px;
    left:0px;
    margin:auto;
    z-index:100000;
    width:100%;
    height: 70px;
    background:#fff;
    }
	
	.c1 {
		margin-bottom:60px;
	}
	
    #back{                  /* Boton atrás header */
    position:absolute;
    left:5px;
    top:23px;
    height:24px;
    }
    #logo{                  /* Logo aplicacion */
    position:absolute;
    left:15px;
    top:4px;
    }
    #image{                 /* Imagen de perfil */
    position:absolute;
    top:10px;
    left:20px;
    }
    #image img{
    width:50px;
    height:50px;
    }
    #notifications{         /* Icono notificaciones */
    position:absolute;
    top:10px;
    right:30px;
    }
    #notifications-count{   /* Contador notificaciones */
    position:absolute;
    right:-15px;
    bottom:-5px;
    color:#DF0101;
    font-size:30px;
    font-weight:900;
    font-family:monospace;
    text-shadow:1px 1px 1px #333;
    }
    #profile{               /* Footer perfil */
    display:inline;
    }
    .header h1, .footer h2, .footer h3 {
    font-family:tallylean;
    } 
    .footer h2{
    margin:0px;
    margin-top:8px;
    font-size:25px;
    }
    .footer h3 {
    margin:0px;
    color:#555;
    font-size:21px;
    }
    #image img{
    border: 1px solid #ccc;
    border-radius:5px;
    }
    #name-role{             /* Div - Nombre de usuario y rol */
    position:absolute;
    left:80px;
    }
    #bars {                 /* Barra menu slide */
    position:absolute;
    top:25px;
    left:0px;
    }

    @media (max-width: 320px) {

    }
    @media (min-width: 321px) and (max-width: 480px) {

    }
/* End header and footer */

/* Slide Menu */
#slide-menu {
  z-index: 1000000;
}
/* End Slide Menu */


/* Cartelera */

.bar-user {
    width:50px;
    height:50px;
	border-radius: 5px;
}

.publicacion-titulo {
	font-size: 14px;
	font-weight: 800;
}

.publicacion-descripcion {
	font-size: 12px;
	font-weight: 800;
}

.subrayado-publicaciones {
	margin-top:3px;
	border-top: 1px solid #dfdfdf;
}

.cartelera-title {
	border-bottom: 2px solid #aaa;
	width: 250px;
	margin-bottom: 10px;
}

.publicacion-fecha {
	color: #aaa;
	text-align:;
}

.pago-msg {
	border: 2px solid orange;
	border-radius: 5px;
	background-color: rgb(255,197,157);
	padding:3px;
}

.datos-reserva {
	border: 2px solid #9999ff;
	border-radius: 15px;
	padding:5px;
	background-color: #fafaff;
}

.datos-reserva p {
	padding: 0;
	margin:0;
}

.datos-reserva p span {
	weight: 800;
	color: #0000cc;
}

.reservaciones {
	border: 4px solid #aaa;
	border-radius: 20px;
}

.reservacion {
	padding:5px 20px 5px 20px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}

.reservacion p {
	margin: 1px;
}

.reservacion span {
	color: #00aa00;
	font-weight: 800;
}