<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>AGENDA</h1>
    <form method="POST" action="<%= url_for :controller => :Admin, :action => :crear_inmueble %>">
      <label for="descripcion">Descripci&oacute;n</label>
      <textarea id="descripcion" cols="40" rows="8" name="descripcion" class="itemValue" <%= 
      placeholder("Descripcion") %> />
      </textarea>
      <div data-role="fieldcontain">
        Fecha:
        <input type="date" id="fecha" name="fecha" class="itemValue"/>
      </div>
      <div data-role="fieldcontain">
        Hora:
        <input type="text" id="hora" name="hora" class="itemValue"/>
      </div>
      <div data-role="fieldcontain">
        Lugar:
          <select name="select-choice-1" id="select-choice-1" data-native-menu="false">
            <option value="1">Sal&oacute;n de fiesta</option>
            <option value="2">Piscina</option>
            <option value="3">Cancha de futbol</option>
            <option value="4">Parque</option>
            <option value="5">Caney</option>
          </select>
      </div>
      <input type="submit" value="Crear agenda"/>
    </form>
  </div>
</div>