<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>AUTORIZACIONES</h1>
    <ul data-role="listview">
      <li><a href="#">Reservaci&oacute;n</a></li>
      <li><a href="#">Cotizaci&oacute;n</a></li>
      <li><a href="#">Sanci&oacute;n</a></li>
      <li><a href="#">Pago de Servicios Comunes</a></li>
      <li><a href="#">Pago de Empleados</a></li>
      <li><a href="#">Pago de Productos</a></li>
      <li><a href="#">Pago de Licencia</a></li>
      <li><a href="#">Gastos Extras</a></li>
    </ul>
  </div><!-- end content -->
</div><!-- end page -->