<div data-role="page" data-theme="a">
  <a href="<%= url_for :action => :mis_cursos %>">
    <img src="/public/images/condominio/back.png" id="back"/>
  </a>
  </br></br></br>
    <form class="navbar-search">
      <input type="text" class="search-query" placeholder="&iquest;Qu&eacute; te gustar&iacute;a aprender?">
      <i class="glyphicon glyphicon-search"></i>
    </form>
</div>   