<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
   <a href="<%= url_for :action => :prueba %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
      <img src="/public/images/inicio/xlearning.jpg" height="65px"/>
      </div>
         </a>
   
  </div>
 
  <div data-role="content" data-theme="a">
  <h4 align="center">Cursos Destacados</h4>
 
  <h4 align="center">Pasteles Andinos</h4>
  <div class="col-sm-6 col-md-3 thumbnail">
        <center><img src="/public/images/inicio/IMG0698A.jpg" alt="Curso1" class="img-thumbnail" width="100" height="60"></center>
        <div class="caption">
            <p>Los Pastelitos Andinos forman parte de la cultura gastronomica venezolana. Son originarios de la region de los Andes (Merida, Tachira y Trujillo), sus rellenos tradicionales suelen ser queso blanco, guiso de carne (res) molida, guiso de pollo y</p>
            <p align="center">
            <a href="#" class="btn btn-primary">Ver Mas</a>
            <a href="#" class="btn btn-default">Inscribete Ya </a>
            </p>
         </div>
   </div>
          <hr width="75%"/>
       
    <h4 align="center">Pasteles Andinos</h4>
         <div class="col-sm-6 col-md-3 thumbnail">
             <center><img src="/public/images/inicio/IMG0698A.jpg" alt="Curso1" class="img-thumbnail" width="100" height="60"></center>
                 <div class="caption">
                    <p>Los Pastelitos Andinos forman parte de la cultura gastronomica venezolana. Son originarios de la region de los Andes (Merida, Tachira y Trujillo), sus rellenos tradicionales suelen ser queso blanco, guiso de carne (res) molida, guiso de pollo y...</p>
                     <p align="center">
                        <a href="#" class="btn btn-primary">Ver Mas</a>
                        <a href="#" class="btn btn-default">Inscribete Ya </a>
                      </p>
                   </div>
          </div>
  </div>        
   
   </div><!-- end page -->