<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content c1">
    <div class="cartelera-title center">
      <h1>CARTELERA INFORMATIVA</h1>
    </div>
    <div class="container">
        
        <% 
        x = 0
        for i in $session[:publicaciones]
 
        x = x + 1
        if(x%2==0)
          @color = "#dfdfdf"
        else
          @color = "rgb(209,253,181)"
        end
        %>
      <div class="feed" style="background-color:<%= @color %>"> <!-- feed -->
        <div> <!-- usuario -->
          <img class="bar-user"
          <% if i["fotoEmisor"] %>
          src="data:image/jpeg;base64,<%= i["fotoEmisor"] %>" alt="<%= i["nombreEmisor"] %>
          <% else %>
          src="/public/images/icons/tipoempleado.jpg"
          <% end %>
          "/>
            <span class="cart-name"><%= i["nombreEmisor"] %> <%= i["apellidoEmisor"] %></span>
            <span class="publicacion-titulo"><%= i["titulo"] %> (<small><%= i["nombreTipoPublicacion"] %></small>)</span>
        </div>
        <div class="subrayado-publicaciones"> <!-- contenido -->
          <p class="publicacion-descripcion"><%= i["descripcion"] %></p>
          <small class="publicacion-fecha"><%= i["fecha"] %></small>
        </div>
      </div>
      
    <%  end %>
      
    </div>
  </div>
  
  <!-- Footer -->
  <div class="footer center">
    <a data-theme="b" href="<%= url_for :action => :vreg_noticia %>" data-role="button">Escribir publicaci&oacute;n</a> 
  </div>  <!-- End Footer -->
</div>