<div data-role="page" data-theme="a" >

  <div data-role="header" data-position="fixed" data-theme="a">
    <a href="<%= url_for :action => :menu %>" data-icon="back" data-role="button" class="ui-btn-left">Atr&aacute;s</a>
    <img class="ui-btn-right" src="/public/images/condominio/profile/emisael.jpg"/>
    <h1>
    <%=
       case $session[:nivel]
         when 1
           "Emisael Carrera</h1>
           <h1 class='text-muted'>Administrador"
         when 2
           "Jorge Aponte</h1>
         <h1 class='text-muted'>Junta Directiva"
         when 3
           "Vianel Rogriguez</h1>
         <h1 class='text-muted'>Propietario"
         when 4
           "Laura Diaz</h1>
         <h1 class='text-muted'>Vigilante"
         when 5
           "George Clooney</h1>
         <h1 class='text-muted'>Empleado"
       end
    %> 
    </h1>
  </div>

  <div data-role="content" data-theme="a">
    <ul data-role="listview">
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>
      <li><a href="<%= url_for :action => :logout %>">Cerrar Sesi&oacute;n</a></li>
    </ul>
  </div>
</div>
