<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :prueba %>">
  <img src="/public/images/inicio/back.png" id="back"/>
       <div id="logo">
         <img src="/public/images/inicio/xlearning.jpg" height="65px"/>
       </div>
    </a>
   
  </div>
  <div class="menu2-content">
    <h1>Recetas Nacionales</h1>
    <ul data-role="listview">
      <li><a href="<%= url_for :action => :andina %>">Recetario de Comida Andina</a></li>
      <li><a href="#">Recetario de Comida Llanera</a></li>
      <li><a href="#">Recetario de Comida Oriental</a></li>
      <li><a href="#">Recetario de Comida Occidental</a></li>
    </ul>
  </div><!-- end content -->
</div><!-- end page -->