<div data-role="page" data-theme="a">

  <div class="header" data-position="fixed">
      <ul class="nav nav-pills pull-right">
        <li><a href="<%= url_for :action => :configuracion %>"><img class="bar-user" src="/public/images/condominio/profile/emisael.jpg"/>Emisael Carrera <span class="glyphicon glyphicon-th-large"></span></a></li>
      </ul>
      <h4><%= $session[:nombre_condominio] %></h4>
  </div>
  <div class="content" data-theme="a">
  
  
    <!-- ***********************************        POPUPS        ************************************** -->
    <div data-role="popup" id="popup1" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Sanciones</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_pago_sancion %>" data-role="button" data-mini="true" data-inline="true" data-theme="c">Registrar pago</a>
        <a href="<%= url_for :action => :vreg_lista_sancion %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Ver Sanciones</a>
      </div>
    </div>
    <div data-role="popup" id="popup2" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Servicios</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_pago_servicio_comun %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Registrar pago</a>
        <a href="<%= url_for :action => :vreg_lista_servicio_comun %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Ver Servicios</a>
      </div>
    </div>
    <div data-role="popup" id="popup3" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Noticias</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_noticia %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Crear Noticia</a>
        <a href="<%= url_for :action => :lista_noticias %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Mis Noticias</a>
      </div>
    </div>
    
    <!-- *********************************      END POPUPS      ***************************************** -->
    <table class="icons">
    
      <tr>
        <td><a href="#popup1" data-rel="popup" data-position-to="window"><img src="/public/images/icons/sancion.jpg"/></a></td>
        <td><a href="#popup2" data-rel="popup" data-position-to="window"><img src="/public/images/icons/servicios.jpg"/></a></td>
        <td><a href="<%= url_for :action => :vreg_sugerencia %>"><img src="/public/images/icons/sugerencia.jpg"/></a></td>
        <td><a href="<%= url_for :action => :vreg_agenda %>"><img src="/public/images/icons/agendar.jpg"/></a></td>
      </tr>
      <tr>
        <td>Sanciones</td>
        <td>Servicios</td>
        <td>Crear Sugerencia</td>
        <td>Crear Agenda</td>
      </tr>
      <tr height="20px"></tr>
      <tr>
        <td><a href="#popup3" data-rel="popup" data-position-to="window"><img src="/public/images/icons/mailchat.png"/></a></td>
        <td><a href="<%= url_for :action => :autorizaciones %>"><img src="/public/images/icons/autorizacion.jpg"/></a></td>
      </tr>
      <tr>
        <td>Noticias</td>
        <td>Autorizaciones</td>
      </tr>
      
    </table>
    
  </div><!-- end content -->
</div><!-- end page -->