<div data-role="page" data-theme="a">

  <div class="header">
    <div id="logo">
      <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
    </div>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>

  <div class="content" data-theme="a">
  
    <!-- ***********************************        POPUPS        ************************************** -->
    <div data-role="popup" id="popup1" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Noticias</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_noticia %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Crear Noticia</a>
        <a href="<%= url_for :action => :lista_noticias %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Lista de Noticias</a>
      </div>
    </div>
    <div data-role="popup" id="popup2" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Inmuebles</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_inmueble %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Registrar Inmueble</a>
        <a href="<%= url_for :action => :lista_inmuebles %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Lista de Inmuebles</a>
      </div>
    </div>
    <div data-role="popup" id="popup3" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Propietarios</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_propietario %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Registrar Propietario</a>
        <a href="<%= url_for :action => :lista_propietarios %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Lista de Propietarios</a>
      </div>
    </div>
    <div data-role="popup" id="popup4" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Empleados</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_empleado %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Registrar Empleado</a>
        <a href="<%= url_for :action => :lista_empleados %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Lista de Empleados</a>
      </div>
    </div>
    <div data-role="popup" id="popup5" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Proveedores</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_proveedor %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Crear Proveedor</a>
        <a href="<%= url_for :action => :lista_proveedores %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Lista de Proveedores</a>
      </div>
    </div>
    <div data-role="popup" id="popup6" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>&Aacute;reas Comunes</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_area_comun %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Registrar &Aacute;rea</a>
        <a href="<%= url_for :action => :lista_areas %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Lista de &Aacute;reas</a>
      </div>
    </div>
    <div data-role="popup" id="popup7" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Servicios Comunes</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_servicio_comun %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Registrar Servicio</a>
        <a href="<%= url_for :action => :lista_servicios %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Lista de Servicios</a>
      </div>
    </div>
    <div data-role="popup" id="popup8" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Sanciones</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_sancion %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Registrar Sanci&oacute;n</a>
        <a href="<%= url_for :action => :lista_sanciones %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Lista de Sanciones</a>
      </div>
    </div>
    <div data-role="popup" id="popup9" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Estacionamiento</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_estacionamiento %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Registrar Puesto</a>
        <a href="<%= url_for :action => :lista_estacionamiento %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Lista de Puestos</a>
      </div>
    </div>
    <div data-role="popup" id="popup10" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Requisiciones</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_requisicion %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Crear Requisici&oacute;n</a>
        <a href="<%= url_for :action => :lista_requisiciones %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Lista de Requisiciones</a>
      </div>
    </div>
    <div data-role="popup" id="popup11" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Ingresos</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_ingreso %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Registrar Ingreso</a>
        <a href="<%= url_for :action => :lista_ingresos %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Historial Ingresos</a>
      </div>
    </div>
    <div data-role="popup" id="popup12" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Egresos</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :vreg_egreso %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Registrar Egreso</a>
        <a href="<%= url_for :action => :lista_egresos %>" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Historial Egresos</a>
      </div>
    </div>
    <!-- *********************************      END POPUPS      ***************************************** -->
    
    <!-- Iconos -->
    <table class="icons">
      <tr>
        <td><a href="#popup1" data-rel="popup" data-position-to="window"><img src="/public/images/icons/mailchat.png" /></a></td>
        <td><a href="#popup2" data-rel="popup" data-position-to="window"><img src="/public/images/icons/inmueble.png" /></a></td>
        <td><a href="#popup3" data-rel="popup" data-position-to="window"><img src="/public/images/icons/propietario.png" /></a></td>
        <td><a href="#popup4" data-rel="popup" data-position-to="window"><img src="/public/images/icons/empleados.png" /></a></td>
      </tr>
      <tr>
        <td>Noticias</td>
        <td>Inmuebles</td>
        <td>Propietarios</td>
        <td>Empleados</td>
      </tr>
      <tr height="20px"></tr>
      <tr>
        <td><a href="#popup5" data-rel="popup" data-position-to="window"><img src="/public/images/icons/proveedores.jpg" /></a></td>
        <td><a href="#popup6" data-rel="popup" data-position-to="window"><img src="/public/images/icons/areas.png" /></a></td>
        <td><a href="#popup7" data-rel="popup" data-position-to="window"><img src="/public/images/icons/servicios.jpg" /></a></td>
        <td><a href="<%= url_for :action => :vreg_reserva_ac %>"><img src="/public/images/icons/areas.png"/></a></td>
      </tr>
      <tr>
        <td>Proveedores</td>
        <td>&Aacute;reas Comunes</td>
        <td>Servicios</td>
        <td>Reservar &Aacute;rea Com&uacute;n</td>
      </tr>
      <tr height="20px"></tr>
      <tr>
        <td><a href="#popup9" data-rel="popup" data-position-to="window"><img src="/public/images/icons/estacionamiento.jpg"/></a></td>
        <td><a href="#popup11" data-rel="popup" data-position-to="window"><img src="/public/images/icons/ingresos.png" /></a></td>
        <td><a href="-#popup12" data-rel="popup" data-position-to="window"><img src="/public/images/icons/egresos.jpg" /></a></td>
        <td><a href="<%= url_for :action => :pagoenlinea %>"><img src="/public/images/icons/autorizacion.jpg"/></a></td>
      </tr>
      <tr>
        <td>Estacionamiento</td>
        <td>Ingreso</td>
        <td>Egreso</td>
        <td>Pago en l&iacute;nea</td>
      </tr>
      <tr height="20px"></tr>
      </table>
    
  </div><!-- end content -->
  
  <!-- Footer -->
  <div class="footer">
    <a href="#slide-menu">
      <div id="bars">
        <img src="/public/images/condominio/bars2.png" height="20px"/>
      </div>
      <div id="image">
        <img src="data:image/jpeg;base64,<%= $session[:foto] %>" alt="<%= $session[:nombre] %>"/>
      </div>
      <div id="name-role">
        <h2><%= $session[:nombre] + " " + $session[:apellido] %></h2>
        <h3><%= $session[:rol] %></h3>
      </div>
    </a>
    <div id="notifications">
      <a href="<%= url_for :action => :cartelera %>">
        <img src="/public/images/condominio/notifications.png" height="50px"/>
        <span id="notifications-count"><%= $session[:cantidad_publicaciones] %></span>
      </a>
    </div>
  </div>  <!-- End Footer -->

  <!-- Slide Panel -->
  <div id="slide-menu" data-role="panel" data-position="left" data-position-fixed="false" data-display="overlay" data-theme="b">
      <h2><%= $session[:nombre] + " " + $session[:apellido] %></h2>
      <h3><%= $session[:rol] %></h3>
      
      <ul data-role="listview">
        <li><a href="<%= url_for :action => :logout %>">Cerrar Sesi&oacute;n</a></li>
      </ul>
      
      <!-- panel content goes here -->
  
  </div><!-- End Slide Panel -->
  
  
</div><!-- end page -->