<div data-role="page" data-theme="a">

  <div class="header" data-position="fixed">
      <ul class="nav nav-pills pull-right">
        <li><a href="<%= url_for :action => :configuracion %>"><img class="bar-user" src="/public/images/condominio/profile/emisael.jpg"/>Emisael Carrera <span class="glyphicon glyphicon-th-large"></span></a></li>
      </ul>
      <h4><%= $session[:nombre_condominio] %></h4>
  </div>
  <div class="content" data-theme="a">
    
    <table class="icons">
    
      <tr>
        <td><a href="<%= url_for :action => :vreg_solicitar_constancia %>"><img src="/public/images/icons/mailchat.png"/></a></td>
      </tr>
      <tr>
        <td>Solicitar Constancia de Trabajo</td>
      </tr>
      
    </table>
    
  </div><!-- end content -->
</div><!-- end page -->