<div class="menu2-content" data-theme="a" div data-role="page" data-theme="a" class="menu2">
  <div class="header">
      <h1>Mis Cursos</h1>
        <a href="#slide-menu">
      <div id="bars">
        <img src="/public/images/condominio/bars2.png" height="20px"/>
      </div></a>
    </div>
<!-- Slide Panel -->
     <div id="slide-menu" data-role="panel" data-position="left" data-position-fixed="false" data-display="overlay" data-theme="b">
      
         
         <ul data-role="listview">
         <li><a href="<%= url_for :action => :mis_cursos %>">Mis Cursos</a></li>
         <li><a href="<%= url_for :action => :prueba %>">Explorar</a></li>
         <li><a href="<%= url_for :action => :busqueda %>">Busqueda</a></li>
         <li><a href="<%= url_for :action => :mis_cursos %>">Mis descargas</a></li>
         <li><a href="<%= url_for :action => :mis_cursos %>">Mis notas</a></li>
           <li><a href="<%= url_for :action => :logout %>">Cerrar Sesi&oacute;n</a></li>
         </ul>
         
         <!-- panel content goes here -->
     
     </div><!-- End Slide Panel -->
  <div data-role="content" data-theme="a">
    <table class="table">
             <tr>
             <ul class="nav nav-list">
                <th>
                    <img src="/public/images/inicio/calculo1.jpg" width="100" height="100">
                </th>
                    <th>
                      <a href="<%= url_for :action => :menu_estudiante %>">
                          Con este curso se pretende que el estudiante se familiarice con los conceptos propios del an&aacute;lisis matem&aacute;tico... 
                      </a>
                    </th>
                  </ul>
               </tr> 
     </table>
    
    </div>
  </div>