<div data-role="page" data-theme="a" class="menu2">

  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  
  <div class="menu2-content">
  
    <h1><%= @titulo %></h1>
    
      <% if @msg %>
        <div class="pago-msg center"><%= @msg %></div>
      <% end %>
      
    <div class="center">
      <a data-theme="b" href="<%= url_for :action => :menu %>" data-role="button">Volver al men&uacute; principal</a> 
    </div>
      
  </div><!-- menu2-content end -->
</div><!-- page end -->