<div data-role="page" data-theme="a">

  <div class="header">
<h1>Explorar</h1>
<a href="#slide-menu">
      <div id="bars">
        <img src="/public/images/condominio/bars2.png" height="20px"/>
      </div>
  </div>

  <div class="content" data-theme="a">
  
    <!-- ***********************************        POPUPS        ************************************** -->
    <div data-role="popup" id="popup1" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Cocina</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :lista_cocina %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Lista de Cursos de cocina</a>
      
      </div>
    </div>
    <div data-role="popup" id="popup2" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Salud</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="#" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En Construcci&oacute;n</a>
      </div>
    </div>
    <div data-role="popup" id="popup3" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Quimica</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="#" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En Construcci&oacute;n</a>
      </div>
    </div>
    <div data-role="popup" id="popup4" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Matematica</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content" >
        <a href="<%= url_for :action => :lista_cursosm %>" data-role="button" data-mini="true" data-inline="true" data-theme="b">Lista de Cursos</a>
      </div>
    </div>
    <div data-role="popup" id="popup5" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Arte</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="#" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En Construcci&oacute;n</a>
      </div>
    </div>
    <div data-role="popup" id="popup6" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Economia</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="#" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En Construcci&oacute;n</a>
      </div>
    </div>
    <div data-role="popup" id="popup7" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Informatica</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="#" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En Construcci&oacute;n</a>
      </div>
    </div>
    <div data-role="popup" id="popup8" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Ingenieria</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="#" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En Construcci&oacute;n</a>
      </div>
    </div>
    <div data-role="popup" id="popup9" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>M&uacute;sica</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
       <a href="#" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En Construcci&oacute;n</a>
      </div>
    </div>
    <div data-role="popup" id="popup10" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <h1>Seguros</h1>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
       <a href="#" data-role="button" data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En Construcci&oacute;n</a>
      </div>
    </div>
    <!-- *********************************      END POPUPS      ***************************************** -->
    
    <!-- Iconos -->
    <table class="icons">
      <tr>
        <td><a href="#popup1" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/cocina.jpg" /></a></td>
        <td><a href="#popup2" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/salud.jpg" /></a></td>
        <td><a href="#popup3" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/quimica.jpg" /></a></td>
        <td><a href="#popup4" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/matematica.jpg" /></a></td>
      </tr>
      <tr>
        <b><td>Cocina</td></b>
        <td>Sal&uacute;d</td>
        <td>Quimica</td>
        <td>Matem&aacute;tica</td>
      </tr>
      <tr height="20px"></tr>
      <tr>
        <td><a href="#popup5" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/arte.jpg" /></a></td>
        <td><a href="#popup6" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/economia.jpg" /></a></td>
        <td><a href="#popup7" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/informatica.jpg" /></a></td>
        <td><a href="<%= url_for :action => :vreg_reserva_ac %>"><img src="/public/images/inicio/ingenieria.jpg"/></a></td>
      </tr>
      <tr>
        <td>Arte</td>
        <td>Econom&iacute;a</td>
        <td>Inform&aacute;tica</td>
        <td>Ingenieria</td>
      </tr>
      <tr height="20px"></tr>
      <tr>
        <td><a href="#popup9" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/musica.jpg"/></a></td>
        <td><a href="#popup11" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/seguros.jpg" /></a></td>
      </tr>
      <tr>
        <td>Musica</td>
        <td>Seguros</td>
      </tr>
      <tr height="20px"></tr>
      </table>
    
  </div><!-- end content -->

  <!-- Footer -->
  <div class="footer">
    
    </a>
   
  </div>  <!-- End Footer -->
      <!-- Slide Panel -->
      <div id="slide-menu" data-role="panel" data-position="left" data-position-fixed="false" data-display="overlay" data-theme="b">
       
          
          <ul data-role="listview">
          <li><a href="<%= url_for :action => :mis_cursos %>">Mis Cursos</a></li>
          <li><a href="<%= url_for :action => :prueba %>">Explorar</a></li>
          <li><a href="<%= url_for :action => :busqueda %>">Busqueda</a></li>
          <li><a href="<%= url_for :action => :logout %>">Mis descargas</a></li>
          <li><a href="<%= url_for :action => :logout %>">Mis notas</a></li>
            <li><a href="<%= url_for :action => :logout %>">Cerrar Sesi&oacute;n</a></li>
          </ul>
          
          <!-- panel content goes here -->
      
      </div><!-- End Slide Panel -->
      
      
    </div><!-- end page -->
