<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>REGISTRAR &Aacute;REA COM&Uacute;N</h1>
      <form method="POST" action="<%= url_for :controller => :Admin, :action => :registrar_propietario %> "/>
        
        <div data-role="fieldcontain">
          Nombre del &aacute;rea:
          <input type="text" id="nombre" name="nombre" class="itemValue" <%= 
          placeholder("Nombre") %>/>
        </div>
        <div data-role="fieldcontain">
          Costo:
          <input type="text" id="costo" name="costo" class="itemValue" <%= 
          placeholder("Costo") %>/>
        </div>

        <input type="submit" value="Registrar"

      </form>
      
  </div>
</div>