<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>REGISTRAR CONDOMINIO</h1>
      <form method="POST" action="<%= url_for :controller => :Admin, :action => :crear_inmueble %>">
        <div data-role="fieldcontain">
          RIF:
          <input type="text" id="rif" name="rif" class="itemValue" <%= 
          placeholder("RIF") %> />
        </div>
        <div data-role="fieldcontain">
          Nombre:
          <input type="text" id="nombre" name="nombre" class="itemValue" <%= 
          placeholder("Nombre") %> />
        </div>
        <div data-role="fieldcontain">
          Direcci&oacute;n:
          <input type="text" id="direccion" name="direccion" class="itemValue" <%= 
          placeholder("Direcci&oacute;n") %> />
        </div>
        <div data-role="fieldcontain">
          Tel&eacute;fono:
          <input type="text" id="telefono" name="telefono" class="itemValue" <%= 
          placeholder("Tel&eacute;fono") %> />
        </div>
        <div data-role="fieldcontain">
          Celular:
          <input type="text" id="celular" name="celular" class="itemValue" <%= 
          placeholder("Celular") %> />
        </div>
        <div data-role="fieldcontain">
          Correo electr&oacute;nico:
          <input type="text" id="email" name="email" class="itemValue" <%= 
          placeholder("Email") %> />
        </div>
        <input type="submit" value="Registrar condominio"/>
      </form>
      
  </div>
</div>