<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>Registrar Empleado</h1>
      <form method="POST" action="<%= url_for :controller => :Admin, :action => :registrar_propietario %> "/>
        <h3>Datos de acceso</h3>
        <div data-role="fieldcontain">
          Nombre de usuario:
          <input type="text" id="username" name="username" class="itemValue" <%= 
          placeholder("Nombre de usuario") %>/>
        </div>
        <div data-role="fieldcontain">
          Contrase&ntilde;a:
          <input type="text" id="password" name="password" class="itemValue" <%= 
          placeholder("Contrase&ntilde;a") %>/>
        </div>
        <hr>
        <h3>Datos del empleado</h3>
        <div data-role="fieldcontain">
          C&acute;dula:
          <input type="text" id="cedula" name="cedula" class="itemValue" <%= 
          placeholder("C&acute;dula") %>/>
        </div>
        <div data-role="fieldcontain">
          Nombre:
          <input type="text" id="nombre" name="nombre" class="itemValue" <%= 
          placeholder("Nombre") %>/>
        </div>
        <div data-role="fieldcontain">
          Apellido:
          <input type="text" id="apellido" name="apellido" class="itemValue" <%= 
          placeholder("Apellido") %>/>
        </div>
        <div data-role="fieldcontain">
          Direcci&oacute;n alterna:
          <input type="text" id="direccion_alt" name="direccion_alt" class="itemValue" <%= 
          placeholder("Direcci&oacute;n alterna") %>/>
        </div>
        <div data-role="fieldcontain">
          Tel&eacute;fono:
          <input type="text" id="telefono" name="telefono" class="itemValue"/>
        </div>
        <div data-role="fieldcontain">
          Celular:
          <input type="text" id="celular" name="celular" class="itemValue"/>
        </div>
        <div data-role="fieldcontain">
          Correo:
          <input type="text" id="email" name="email" class="itemValue" <%= 
          placeholder("correo@dominio.com") %>/>
        </div>
        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup" data-type="horizontal">
          <legend>Sexo:</legend>
            <input type="radio" id="sexo1" name="sexo" value="1"/>
            <label for="sexo1">M</label>
            <input type="radio" id="sexo2" name="sexo" value="2"/>
            <label for="sexo2">F</label>
          </fieldset>
        </div>
        <div data-role="fieldcontain">
          Fecha de nacimiento:
          <input type="text" id="fecha_nac" name="fecha_nac" class="itemValue" />
        </div>
        <div data-role="fieldcontain">
            Estado civil:
            <select name="select-choice-1" id="select-choice-1" data-native-menu="false">
              <option value="1">Solter@</option>
              <option value="2">Casad@</option>
              <option value="3">Viud@</option>
              <option value="4">Divorciad@</option>
            </select>
        </div>
        <div data-role="fieldcontain">
          N&uacute;mero de hijos:
          <input type="text" id="hijos" name="hijos" class="itemValue" />
        </div>
        <div data-role="fieldcontain">
          Foto de perfil:
          <input type="file" id="foto" name="foto" class="itemValue" />
        </div>
        <div data-role="fieldcontain">
          Fecha de ingreso:
          <input type="text" id="fecha_ing" name="fecha_ing" class="itemValue"/>
        </div>
        <div data-role="fieldcontain">
          Inicio de jornada:
          <input type="text" id="inicio_jornada" name="inicio_jornada" class="itemValue"/>
        </div>
        <div data-role="fieldcontain">
          Fin de jornada:
          <input type="text" id="fin_jornada" name="fin_jornada" class="itemValue"/>
        </div>
        <div data-role="fieldcontain">
          Estado civil:
          <select name="tipo_empleado" id="tipo_empleado" data-native-menu="false">
            <option value="1">tipo1</option>
            <option value="2">tipo2</option>
            <option value="3">tipo3</option>
            <option value="4">tipo4</option>
          </select>
        </div>
        <input type="submit" value="Registrar">

      </form>
      
  </div>
</div>