<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>REGISTRAR ESTACIONAMIENTO</h1>
      <form method="POST" action="<%= url_for :controller => :Admin, :action => :crear_estacionamiento %>">
        <div data-role="fieldcontain">
          <label for="numero" class="itemLabel">N&uacute;mero:</label>
          <input type="text" id="numero" name="numero" class="itemValue" <%= 
          placeholder("Numero") %> />
        </div>
        <label for="descripcion">Descripci&oacute;n</label>
          <textarea id="descripcion" cols="40" rows="8" name="descripcion" class="itemValue" <%= 
          placeholder("Descripcion") %> /></textarea>
        <input type="submit" value="Registrar"/>
      </form>
      
  </div>
</div>