<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>REGISTRAR INMUEBLE</h1>
      <form method="POST" action="<%= url_for :controller => :Admin, :action => :crear_inmueble %>">
        <div data-role="fieldcontain">
          Alicuota:
          <input type="text" id="alicuota" name="alicuota" class="itemValue" <%= 
          placeholder("Alicuota") %> />
        </div>
        <div data-role="fieldcontain">
          C&eacute;dula del Propietario:
          <input type="text" id="propietario" name="propietario" class="itemValue" <%= 
          placeholder("Propietario") %> />
        </div>
        <div data-role="fieldcontain">
          Nombre del propietario:
          <input type="text" id="nombre" name="nombre" class="itemValue" <%= 
          placeholder("Nombre") %> />
        </div>
        <div data-role="fieldcontain">
          Estacionamiento:
          <input type="text" id="estacionamiento" name="estacionamiento" class="itemValue" <%= 
          placeholder("Estacionamiento") %> />
        </div>
        <input type="submit" value="Registrar"/>
      </form>
      
  </div>
</div>