<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>REGISTRAR INGRESO</h1>
      <form method="POST" action="<%= url_for :controller => :Admin, :action => :registrar_propietario %> "/>
        
        <div data-role="fieldcontain">
            Tipo de ingreso:
            <select name="select-choice-1" id="select-choice-1" data-native-menu="false">
              <option value="1">Condominio</option>
              <option value="2">Sanci&oacute;n</option>
              <option value="3">Reservaci&oacute;n</option>
              <option value="4">Gasto Extra</option>
            </select>
        </div>
        <label for="descripcion">Descripci&oacute;n</label>
        <textarea id="descripcion" cols="40" rows="8" name="descripcion" class="itemValue" <%= 
        placeholder("Descripcion") %> />
        </textarea>
        <div data-role="fieldcontain">
          <label for="banco" class="itemLabel">Banco</label>
          <input type="text" id="banco" name="banco" class="itemValue" <%= 
          placeholder("Banco") %> />
        </div>
        <div data-role="fieldcontain">
          <label for="fecha" class="itemLabel">Fecha</label>
          <input type="text" id="fecha" name="fecha" class="itemValue" />
        </div>
        <div data-role="fieldcontain">
          <label for="monto" class="itemLabel">Monto</label>
          <input type="text" id="monto" name="monto" class="itemValue" <%= 
          placeholder("Monto") %> />
        </div>
        <div data-role="fieldcontain">
          <label for="comprobante" class="itemLabel">Comprobante</label>
          <input type="file" id="comprobante" name="comprobante" class="itemValue" <%= 
          placeholder("Comprobante") %> />
        </div>
        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup">
            <input type="checkbox" name="validar" id="validar">
            <label for="validar">Validar pago</label>
          </fieldset>
        </div>
        <input type="submit" value="Registrar">

      </form>
      
  </div>
</div>