<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>REGISTRAR NOVEDAD</h1>
      <form method="POST" action="<%= url_for :controller => :Admin, :action => :crear_inmueble %>">
        <div data-role="fieldcontain">
          Inmueble a visitar:
          <input type="text" id="inmueble" name="inmueble" class="itemValue" <%= 
          placeholder("Inmueble") %>/>
        </div>
        <div data-role="fieldcontain">
          C&eacute;dula:
          <input type="text" id="cedula" name="cedula" class="itemValue" <%= 
          placeholder("Cedula") %>/>
        </div>
        <div data-role="fieldcontain">
          Nombre:
          <input type="text" id="nombre" name="nombre" class="itemValue" <%= 
          placeholder("Nombre") %>/>
        </div>
        <div data-role="fieldcontain">
          Apellido:
          <input type="text" id="apellido" name="apellido" class="itemValue" <%= 
          placeholder("Apellido") %>/>
        </div>
        <div data-role="fieldcontain">
          Placa:
          <input type="text" id="placa" name="placa" class="itemValue" <%= 
          placeholder("Placa") %>/>
        </div>
        <label for="descripcion">Descripci&oacute;n</label>
        <textarea id="descripcion" cols="40" rows="8" name="descripcion" class="itemValue" <%= 
        placeholder("Descripcion") %> />
        </textarea>
        <div data-role="fieldcontain">
          Hora de entrada:
          <input type="text" id="hora" name="hora" class="itemValue"/>
        </div>
        <div data-role="fieldcontain">
          Hora de salida:
          <input type="text" id="hora" name="hora" class="itemValue"/>
        </div>
        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup">
            <input type="checkbox" name="publicar" id="publicar">
            <label for="publicar">Publicar</label>
          </fieldset>
        </div>
        <input type="submit" value="Crear agenda"/>
      </form>
      
  </div>
</div>