<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>REGISTRAR FACTURA DE SERVICIO</h1>
      <form method="POST" action="<%= url_for :controller => :Admin, :action => :registrar_propietario %> "/>
        
        <div data-role="fieldcontain">
          Id Servicio:
          <input type="text" id="id" name="id" class="itemValue" <%= 
          placeholder("Id Servicio") %>/>
        </div>
        <div data-role="fieldcontain">
          Sub Total:
          <input type="text" id="subtotal" name="subtotal" class="itemValue" />
        </div>
        <div data-role="fieldcontain">
          IVA:
          <input type="text" id="iva" name="iva" class="itemValue" />
        </div>
        <div data-role="fieldcontain">
          Comprobante de factura:
          <input type="file" id="imagen" name="imagen" class="itemValue" />
        </div>
        <input type="submit" value="Registrar"

      </form>
      
  </div>
</div>