<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>CREAR SANCI&Oacute;N</h1>
      <form method="POST" action="<%= url_for :controller => :Admin, :action => :registrar_propietario %> "/>
        
        <div data-role="fieldcontain">
          Inmueble:
          <input type="text" id="nombre" name="nombre" class="itemValue" <%= 
          placeholder("Inmueble") %>/>
        </div>
        <label for="descripcion">Descripci&oacute;n de sanci&oacute;n</label>
        <textarea id="descripcion" cols="40" rows="8" name="descripcion" class="itemValue" <%= 
        placeholder("Descripcion") %> />
        </textarea>
        <div data-role="fieldcontain">
          Monto:
          <input type="text" id="monto" name="monto" class="itemValue" />
        </div>
        <div data-role="fieldcontain">
          Fecha de infracci&oacute;n:
          <input type="text" id="fecha" name="fecha" class="itemValue" />
        </div>  
        <input type="submit" value="Registrar"

      </form>
      
  </div>
</div>