<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
    <h1>REGISTRAR SERVICIO COM&Uacute;N</h1>
      <form method="POST" action="<%= url_for :controller => :Admin, :action => :registrar_propietario %> "/>
        
        <div data-role="fieldcontain">
          Nombre del servicio:
          <input type="text" id="nombre" name="nombre" class="itemValue" <%= 
          placeholder("Nombre") %>/>
        </div>
        <div data-role="fieldcontain">
          Empresa:
          <input type="text" id="empresa" name="empresa" class="itemValue" <%= 
          placeholder("Empresa") %>/>
        </div>
        <div data-role="fieldcontain">
          RIF:
          <input type="text" id="rif" name="rif" class="itemValue" <%= 
          placeholder("RIF") %>/>
        </div>

        <input type="submit" value="Registrar"

      </form>
      
  </div>
</div>