<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :vreg_reserva_ac %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
  
    <h1>RESERVAR: <%= @params["nombre"] %></h1>
      
    <div class="datos-reserva center">
      <p><span>Nombre del &aacute;rea com&uacute;n:</span> <%= @params["nombre"] %></p>
      <p><span>Costo:</span> <%= @params["costo"] %></p>
      <p><span>Costo por invitado:</span> <%= @params["costo_invitado"] %></p>
      <p><span>Capacidad m&aacute;xima:</span> <%= @params["capacidad_maxima"] %></p>
      <p><span>Hora de inicio:</span> <%= @params["hora_inicio"] %></p>
      <p><span>Hora de fin:</span> <%= @params["hora_fin"] %></p>
    </div>
    <a data-theme="b" href="ver_reservaciones?id=<%= @params["id"] %>" data-role="button">Ver reservaciones</a> 
    <form method="POST" action="<%= url_for :controller => :Admin, :action => :procesar_reserva_ac %> "/>
      <div data-role="fieldcontain">
       Fecha de uso:
        <input type="text" id="fecha_uso" name="fecha_uso" class="itemValue" <%= 
        placeholder("Fecha de uso") %>/>
      </div>
      <div data-role="fieldcontain">
       Hora de inicio:
        <input type="text" id="hora_inicio" name="hora_inicio" class="itemValue" <%= 
        placeholder("Hora de inicio") %>/>
      </div>
      <div data-role="fieldcontain">
       Hora de fin:
        <input type="text" id="hora_fin" name="hora_fin" class="itemValue" <%= 
        placeholder("Hora de fin") %>/>
      </div>
      <div data-role="fieldcontain">
       N&uacute;mero de invitados:
        <input type="text" id="nro_invitados" name="nro_invitados" class="itemValue" <%= 
        placeholder("Numero de invitados") %>/>
      </div>

      <input type="submit" value="Reservar <%= @params["nombre"] %>">
    </form>

  </div>
</div>