<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
  
  
    <h1>RESERVAR &Aacute;REA COM&Uacute;N</h1>
    <ul data-role="listview">
        
    <% for area in $session[:areascomunes]%>
      <li><a href="reservar_area_comun?id=<%=area["id"]%>&nombre=<%=area["nombre"]%>&costo=<%=area["costo"]%>&costo_invitado=<%=area["costo_invitado"]%>&capacidad_maxima=<%=area["capacidad_maxima"]%>&hora_inicio=<%=area["hora_inicio"]%>&hora_fin=<%=area["hora_fin"]%>"><%= area["nombre"] %></a></li>
    <% end %>
    </ul>
  </div>
</div>