<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :vreg_reserva_ac %>">
      <img src="/public/images/condominio/back.png" id="back"/>
      <div id="logo">
        <img src="/public/images/condominio/siaco-mini.png" height="65px"/>
      </div>
    </a>
    <h1><%= $session[:nombre_condominio] %></h1>
  </div>
  <div class="menu2-content">
  
    <h1>RESERVACIONES DE: <%= @nombre_area %></h1>
      
    <div class="reservaciones">
      <% 
      i = 0
      for reservacion in @reservaciones
      i = i + 1
      if(i%2==0)
        @color = "#dfdfdf"
      else
        @color = "white"
      end
      %>
      <div class="reservacion" style="background-color:<%= @color %>"> 
      

      
        
      <p><span>ID del inmueble:</span> <%= reservacion["inmueble_id"] %></p>
        <p><span>Fecha de reservaci&oacute;n:</span> <%= reservacion["fecha_reservacion"] %></p>
        <p><span>Fecha de uso:</span> <%= reservacion["fecha_uso"] %></p>
        <p><span>Hora de inicio:</span> <%= reservacion["hora_inicio"] %></p>
        <p><span>Hora de fin:</span> <%= reservacion["hora_fin"] %></p>
        <p><span>N&uacute;mero de invitados:</span> <%= reservacion["numero_invitados"] %></p>
        <p><span>Lista de invitados:</span> <%= reservacion["lista_invitados"] %></p>
      </div>
      <% end %>
    </div>

  </div>
</div>