<div data-role="page" data-rho-wait-page="true" data-add-back-btn="true" data-theme="a">

  <div data-role="header" data-position="inline">
    <h1>Wait</h1>
  </div>

  <div data-role="content">
  </div>

</div>
