<div data-role="page" data-theme="a" class="menu2">
  
    <div id="index-logo">
      </br></br></br></br>
      <center> <img src="/public/images/condominio/XLearning-blue.png" height="100px" /></center>
      </br></br></br></br>
    </div>
    


  </br></br>
       <center> <a href="<%= url_for :action => :login %>" class="btn btn-primary "><font color="white">Iniciar Sesi&oacute;n</font></a></center>
         </br>

       <center> <a href="<%= url_for :action => :do_regis%>" class="btn btn-primary "><font color="white">Registrarse</font></a></center>
 
         <div id="about" data-role="navbar">
               <ul>
                 <li><a href="<%= url_for :action => :acerca %>">Acerca</a></li>
                 <li><a href="#">Contacto</a></li>
               </ul>
             </div>
                  