<div data-role="page" data-theme="a">

  <a href="<%= url_for :action => :index %>">
    <img src="/public/images/condominio/back.png" id="back"/>
  </a>

  <div>
    <div id="index-logo">
    <br></br><br></br><br></br>
      <img src="/public/images/condominio/XLearning-blue.png" />
<br></br><br></br>
      </div>
    <div id="login-form">
  
      <form name="form1" >
        <div data-role="fieldcontain">
          <input type="text" id="usuario" name="usuario" class="itemValue" placeholder="Nombre de Usuario" />
        </div>
        <div data-role="fieldcontain">
          <input type="password" id="clave" name="clave" class="itemValue" placeholder="Contrase&ntilde;a" />
        </div>
        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup" data-type="horizontal">
            <button type="submit" class="btn btn-default" onclick="usrpas()">Entrar</button>     
            <button type="reset" class="btn btn-default">Limpiar</button>   
          </fieldset>
        </div>
      </form>
            <a style="color:black" href="">&iquest;Olvid&oacute; su contrase&ntilde;a?</a>
        
    </div>
              <script>
              function usrpas(){
              if (document.form1.usuario.value=="gipsy" && document.form1.clave.value=="123"){window.location="/app/Siaco/menu_organizaciones1";return}
              if (document.form1.usuario.value=="rosmary" && document.form1.clave.value=="123"){window.location="/app/Siaco/menu_organizaciones2";return}
              
              else {alert("Error en Usuario o Contraseņa. Intenta de nuevo.")}
              }
              document.oncontextmenu=new Function("return false");
              </script>

  
  </div> 
</div>