<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <h1>Matricularse</h1>
      <a href="<%= url_for :action => :ucla_calculo1 %>">
        <img src="/public/images/condominio/back.png" id="back"/>
        <div id="logo">
          <img src="/public/images/condominio/short-XLearning-blue.png" height="65px"/>
        </div>
      </a>
  </div>
  <div class="menu2-content">    
        <div class="alert alert-warning"> &iexcl;Cuidado!Es muy importante que leas este mensaje. Este curso es pago
          por lo tanto los datos suministrados debajo de este mensaje es para la suscripcion del
          curso que has seleccionado.!
         </div>
     
          <h4 align="center">Pago en Linea</h4>
              <form class="form-horizontal" role="form">
                  <div class="form-group">
                      <label for="numero_tarjeta" class="col-lg-2 control-label">Numero de cuenta &frasl; tarjeta del depositante</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="numero_tarjeta"
                          placeholder="Introduzca el Numero de la cuenta o tarjeta de credito">
                        </div>
                   </div>
                   <div class="form-group">
                       <label for="nombre_titular" class="col-lg-2 control-label">Nombre del Titular</label>
                          <div class="col-lg-10">
                             <input type="text" class="form-control" id="nombre_titular" placeholder="Introduzca el nombre del titular">
                          </div>
                   </div>
                   <div class="form-group">
                       <label for="cedula" class="col-lg-2 control-label">C&eacute;dula</label>
                           <div class="col-lg-10">
                              <input type="text" class="form-control" id="cedula" placeholder="Introduzca la c&eacute;dula del titular">
                           </div>
                   </div>
                   <div class="form-group">
                      <label for="email" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="email" placeholder="correo@dominio.com"> 
                        </div>
                   </div>
                   
                    <div class="form-group">
                       <label for="monto" class="col-lg-2 control-label">Monto</label>
                          <div class="col-lg-10">
                            <input type="text" class="form-control" id="monto" placeholder="Introduzca el monto"> 
                          </div>
                    </div>
                    <div class="form-group">
                      <label for="numero_cuentab" class="col-lg-2 control-label">Numero de cuenta del Beneficiario</label>
                          <div class="col-lg-10">
                             <input type="text" class="form-control" id="numero_cuentab"
                                 placeholder="Introduzca el Numero de cuenta del beneficiario">
                          </div>
                    </div>
                    <div class="form-group">
                       <label for="concepto" class="col-lg-2 control-label">Por Concepto de</label>
                          <div class="col-lg-10">
                             <input type="text" class="form-control" id="concepto" placeholder="Por concepto de"> 
                          </div>
                    </div>
                         <center> <a href="#" class=  "btn btn-default">Realizar Pago</a>   
                         <a href="<%= url_for :action => :calculo1 %>" class="btn btn-default">Cancelar</a></center>
                       </fieldset>
                    </div>
                 </form>
</div>