<div data-role="page" data-theme="a">

  <div class="header">
<h1>ORGANIZACIONES</h1>
<a href="#slide-menu">
      <div id="bars">
        <img src="/public/images/condominio/bars2.png" height="20px"/>
      </div>
  </div>

  <div class="content" data-theme="a">
  
    <!-- ***********************************        POPUPS        ************************************** -->
    <div data-role="popup" id="popup1" data-overlay-theme="a" data-theme="c" style="max-width:600px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <center><font>Asociado a la UCLA como:</font></center>
      </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :ucla_lista_cursos %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Publicador</a></br>
        <a href="<%= url_for :action => :ucla_lista_cursos %>" data-role="button" data-mini="true" data-inline="true" data-theme="a">Consumidor</a>
        </div>
    </div>
    <div data-role="popup" id="popup2" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <center><font>Asociado a la UNEFA como:</font></center>
        </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a href="<%= url_for :action => :ucla_lista_cursos %>"  data-mini="true" data-inline="true" data-theme="a">Ver lista de cursos</a>
        </div>
    </div>
    <div data-role="popup" id="popup3" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <center><font>Asociado a la ULA como:</font></center>
        </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En construccion</a>
      </div>
    </div>
    <div data-role="popup" id="popup4" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <center><font>Asociado a la UC como:</font></center>
        </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content" >
        <a data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En construccion</a>
        </div>
    </div>
    <div data-role="popup" id="popup5" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <center><font>Asociado a la UDO como:</font></center>
        </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En construccion</a>
        </div>
    </div>
    <div data-role="popup" id="popup6" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <center><font>Asociado a la UBV como:</font></center>
        </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En construccion</a>
        </div>
    </div>
    <div data-role="popup" id="popup7" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <center><font>Asociado a la UCV como:</font></center>
        </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En construccion</a>
        </div>
    </div>
    <div data-role="popup" id="popup8" data-overlay-theme="a" data-theme="c" style="max-width:400px" class="ui-corner-all">
      <div data-role="header" data-theme="a" class="ui-corner-top">
        <center><font>Asociado a la USB como:</font></center>
        </div>
      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
        <a data-mini="true" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">En construccion</a>
        </div>
    </div>
    <!-- *********************************      END POPUPS      ***************************************** -->
    
    <!-- Iconos -->
    <table class="icons">
      <tr>
        <td><a href="#popup1" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/univer_logo/ucla.jpg" /></a></td>
        <td><a href="#popup2" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/univer_logo/unefa_logo.jpg" /></a></td>
        <td><a href="#popup3" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/univer_logo/logo_ula.jpg" /></a></td>
        <td><a href="#popup4" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/univer_logo/log_uc.png" /></a></td>
      </tr>
      <tr>
        <b><td><font style="color:black">UCLA</font></td></b>
        <td><font style="color:black">UNEFA</font></td>
        <td><font style="color:black">ULA</font></td>
        <td><font style="color:black">UC</font></td>
      </tr>
      <tr height="20px"></tr>
      <tr>
        <td><a href="#popup5" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/univer_logo/logoUDO.jpg" /></a></td>
        <td><a href="#popup6" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/univer_logo/ubv.gif" /></a></td>
        <td><a href="#popup7" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/univer_logo/ucvlogo.jpg" /></a></td>
        <td><a href="#popup8" data-rel="popup" data-position-to="window"><img src="/public/images/inicio/univer_logo/usb.png"/></a></td>
       
      </tr>
      <tr>
        <td><font style="color:black">UDO</font></td>
        <td><font style="color:black">UBV</font></td>
        <td><font style="color:black">UCV</font></td>
        <td><font style="color:black">USB</font></td>
      </tr>
      <tr height="20px"></tr>
      
      </table>
    
  </div><!-- end content -->

  <!-- Footer -->
  <div class="footer">
    
    </a>
   
  </div>  <!-- End Footer -->
      <!-- Slide Panel -->
      <div id="slide-menu" data-role="panel" data-position="left" data-position-fixed="false" data-display="overlay" data-theme="b">
       
          
          <ul data-role="listview">
          <li><a href="<%= url_for :action => :menu_organizaciones1 %>">Organizaciones</a></li>
 
            <li><a href="<%= url_for :action => :logout %>">Cerrar Sesi&oacute;n</a></li>
          </ul>
          
          <!-- panel content goes here -->
      
      </div><!-- End Slide Panel -->
      
      
    </div><!-- end page -->
