<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
  <center><h1>Registrar Estudiante</h1></center>
    <a href="<%= url_for :action => :login %>">
      <img src="/public/images/condominio/back.png" id="back"/>

    </a>
  
  </div>
  <div class="menu2-content">
    
     
  <h4>Datos de acceso:</h4>
              <div class="form-group">
                  <label for="username" class="col-lg-2 control-label">Username</label>
                     <div class="col-lg-10">
                        <input type="text" class="form-control" id="username"
                          placeholder="Nombre de usuario">
                     </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-lg-2 control-label">Password</label>
                   <div class="col-lg-10">
                     <input type="text" class="form-control" id="password"
                        placeholder="Contrase&ntilde;a">
                    </div>
              </div>
          <hr>
                       <h4>Datos del estudiante:</h4>
                         <div class="form-group">
                           <label for="cedula" class="col-lg-2 control-label">C&eacute;dula:</label>
                              <div class="col-lg-10">
                                 <input type="text" class="form-control" id="cedula"
                                  placeholder="Introduzca su c&eacute;dula">
                               </div>
                         </div>
                         <div class="form-group">
                           <label for="nombre" class="col-lg-2 control-label">Nombre:</label>
                              <div class="col-lg-10">
                                   <input type="text" class="form-control" id="nombre"
                                    placeholder="Introduzca su nombre">
                               </div>
                         </div>
                                     <div class="form-group">
                                                 <label for="apellido" class="col-lg-2 control-label">Apellido</label>
                                                    <div class="col-lg-10">
                                                       <input type="text" class="form-control" id="apellido"
                                                        placeholder="Introduzca su apellido">
                                                     </div>
                                              </div>
                               <div class="form-group">
                                 <label for="direccion" class="col-lg-2 control-label">Direcci&oacute;n:</label>
                                     <div class="col-lg-10">
                                       <input type="text" class="form-control" id="direccion"
                                        placeholder="Introduzca su direccion">
                                     </div>
                               </div>
                               <div class="form-group">
                                 <label for="telefono" class="col-lg-2 control-label">Tel&eacute;fono:</label>
                                    <div class="col-lg-10">
                                       <input type="text" class="form-control" id="telefono"
                                        placeholder="Introduzca su tel&eacute;fono">
                                    </div>
                               </div>
                                <div class="form-group">
                                   <label for="correo" class="col-lg-2 control-label">Correo:</label>
                                      <div class="col-lg-10">
                                        <input type="text" class="form-control" id="correo"
                                           placeholder="correo@dominio.com">
                                      </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Sexo:</label>
                                      <div class="col-lg-10">
                                       <input type="radio" id="sexo1" name="sexo" value="1"/>
                                       <label for="sexo1">M</label>
                                       <input type="radio" id="sexo2" name="sexo" value="2"/>
                                       <label for="sexo2">F</label>
                                      </div>
                               </div>
                                
                      
                                <div class="form-group">
                                 <label class="col-lg-2 control-label">Foto de perfil:</label>
                                    <div class="col-lg-10">
                                     <input type="file" id="foto" name="foto" class="itemValue" />
                                     </div>
                                 </div>
               
                           <SCRIPT LANGUAGE="JavaScript">
                           function mi_alerta () {
                           alert ("Estudiante registrado con exito!" );
                           }
                           </SCRIPT>
                             <center> <a href="<%= url_for :action => :login %>" class="btn btn-default" onclick="mi_alerta()">Registrar</a></center>
               
                     </form>
  </div>
</div>