<div class="menu2-content" data-theme="a" div data-role="page" data-theme="a" class="menu2"> 

      <div class="header">
        <a href="<%= url_for :action => :ucla_cursos_publicador1 %>">
          <img src="/public/images/condominio/back.png" id="back"/>
          <h1>Calculo 2</h1>
        </a>
      </div>

      <img src="/public/images/condominio/cl2.jpg" width="400" height="200"/></br>
      
  <script language="javascript" type="text/javascript">
                      function muestra(nombrediv) {
                        if(document.getElementById(nombrediv).style.display == '') {
                           document.getElementById(nombrediv).style.display = 'none';
                        }
                        else {document.getElementById(nombrediv).style.display = '';                        }
                          }
                  </script>
      
      <hr width="100%"/>
  <div class="col-sm-6 col-md-3 thumbnail">
<h4 align="left"><b>M&oacute;dulos</b></h4>
  <a style="Position:Absolute; left:85%; top:20%" onClick="muestra('foro1')"; class="btn btn-default"><span class="glyphicon glyphicon-comment"></span></a>
  <a style="Position:Absolute; left:70%; top:20%" onClick="muestra('subir')"; class="btn btn-default"><span class="glyphicon glyphicon-cloud-upload"></span></a>
</div>
  
                       <input type="file" id="subir" name="foto" class="itemValue" style="display:none;" />
                         <iframe id="foro" style="display:none;" width="800" height="1000" frameborder="0" marginheight="0" marginwidth="0" src="http://x-learning.forovenezuela.net"></iframe>
                         <div id="foro1" style="display:none;">
                         <textarea rows="10" cols="50">
                          At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                         At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                         At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                         At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                         At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                         At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                         </textarea>
                        

                                    <div class="form-group">   
                                         <div class="col-lg-10">
                                           <input type="text"style="WIDTH: 228px; HEIGHT: 98px" 
                                         id="password"
                                              placeholder="Escribe tu mensaje aqui">
                                          </div>
                                             <SCRIPT LANGUAGE="JavaScript">
                                                        function mi_alerta () {
                                                        alert ("Mensaje enviado con exito!" );
                                                        }
                                                        </SCRIPT>
                                                          <center> <a href="#" class="btn btn-default" onclick="mi_alerta()">Enviar</a></center>

                                    </div>
    </div>                     
  <hr width="100%"/>

      <! - Listas De Modulos->  
  <! - MODULO 1->
            <div class="col-sm-6 col-md-3 thumbnail">
              <div class="caption">
                  <p><h5><b>Modulo 1:</b> La antiderivada.</h5></p>
             
                

                  <a style="Position:Absolute; left:80%; top:20%" onClick="muestra('modulo1')";  class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></a>
                  
                  </div>
            </div> 
             
    <table class="table" id="modulo1" style="display:none;">

           <tr>
           <th><i class="glyphicon glyphicon-user"><b> Cantidad de alumnos:</b></i></th>
               <td>6</td>
           </tr> 
           <tr>
               <th><i class="glyphicon glyphicon-list">  Notas</th>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
                                                


     </table>
             
 <! - FIN MODULO 1->     
     
<! - MODULO 2->
 
      <div class="col-sm-6 col-md-3 thumbnail">
          <div class="caption">
             <p><h5><b>Modulo 2: </b>Integraci&oacute;n definida y &aacute;rea </br> bajo la curvas.</h5></p>
                               

    <a style="Position:Absolute; left:80%; top:20%" onClick="muestra('modulo2')";  class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></a>
                     </div>
    </div> 
    <table class="table" id="modulo2" style="display:none;">

           <tr>
           <th><i class="glyphicon glyphicon-user"><b> Cantidad de alumnos:</b></i></th>
               <td>6</td>
           </tr> 
           <tr>
               <th><i class="glyphicon glyphicon-list">  Notas</th>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
                                                


     </table>
    <hr width="100%"/>
               
         
<! - FIN MODULO 2->
<! - MODULO 3->

   <div class="col-sm-6 col-md-3 thumbnail">
     <div class="caption">
      <p><h5><b>Modulo 3: </b>T&eacute;cnicas de Integraci&oacute;n.</h5></p>
                                     
      
    <a style="Position:Absolute; left:80%; top:20%" onClick="muestra('modulo3')";  class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></a>
                 </div>
              </div> 
                           
    <table class="table" id="modulo3" style="display:none;">

           <tr>
           <th><i class="glyphicon glyphicon-user"><b> Cantidad de alumnos:</b></i></th>
               <td>6</td>
           </tr> 
           <tr>
               <th><i class="glyphicon glyphicon-list">  Notas</th>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
           <tr>                       
                   <th>Angelica Rodriguez</th>
                   <td>10</td>
           <tr>
                                                


     </table>
             

<! - FIN MODULO 3->

     
