
<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <h1>Universidad Central Lisandro Alvarado</h1>
  <a href="<%= url_for :action => :ucla_calculo2 %>">
  <img src="/public/images/condominio/back.png" id="back"/>
      </a>
  </div>
  <! - imagen de inicio->
  <div class="row">
    <div class="col-sm-6 col-md-4 thumbnail">
      <div class="thumbnail">
        <img src="/public/images/inicio/ucla2.jpg" alt="Ucla" width="500" height="500">
        <div class="caption"> 
          <h3>Universidad Central Lisandro Alvarado</h3>
          <p>La mejor universidad de latinoamerica.</p>
        </div>
      </div>
    </div>
  </div>
  <div data-role="content" data-theme="d">
  <! - Tabla de Imagenes->
  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <a href="<%= url_for :action => :c_matematica%>">
        <span class="badge pull-right">3</span>
        Ver M&aacute;s
      </a>
    </li>
  </ul>
  <table class="table">
             <tr>
             <ul class="nav nav-list">
                <th>
                    <img src="/public/images/inicio/calculo1.jpg" width="100" height="100">
                </th>
                    <th>
                      <a href="<%= url_for :action => :calculo1 %>">
                          Con este curso se pretende que el estudiante se familiarice con los conceptos propios del an&aacute;lisis matem&aacute;tico... 
                      </a>
                    </th>
                  </ul>
               </tr> 
         </table>
  <table class="table">
              <tr>
              <ul class="nav nav-list">
                 <th>
                     <img src="/public/images/inicio/calculoint.jpg" width="100" height="100">
                 </th>
                     <th>
                       <a href="<%= url_for :action => :calculo1 %>">
                          Curso b&aacute;sico de c&aacute;lculo integral de una sola variable. Se parte desde los conceptos b&aacute;sicos como m&eacute;todos de... 
                       </a>
                     </th>
                   </ul>
                </tr> 
          </table>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15713.52013585811!2d-69.364857!3d10.067914!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3aee8b883b8bfcd0!2sDecanato+de+Ciencias+y+Tecnolog%C3%ADa+de+la+UCLA!5e0!3m2!1ses-419!2sve!4v1418714750746" width="500" height="500" frameborder="0" style="border:0"></iframe>
  
  <table class="table">
  <h3>Enlaces Externos</h3>
              <tr>
                 <td><b>Pagina Web:</b> </br>http://ucla.edu.ve</td>
              </tr>
              <tr>
                 <td><b>Facebook</b></br>http://ucla.edu.ve</td></td>
              </tr>
              <tr>
                 <th>Twiter</th>
              </tr>  
          </table>
 </div>
    
  <!-- Slide Panel -->
  <div id="slide-menu" data-role="panel" data-position="left" data-position-fixed="false" data-display="overlay" data-theme="b">
   
      
      <ul data-role="listview">
      <li><a href="<%= url_for :action => :menu_organizaciones1 %>">Organizaciones</a></li>

        <li><a href="<%= url_for :action => :logout %>">Cerrar Sesi&oacute;n</a></li>
      </ul>
      
      <!-- panel content goes here -->
  
  </div><!-- End Slide Panel -->
    
    
  
 
