<div data-role="page" data-theme="a" >
  <div class="header">
   <a href="<%= url_for :action => :menu_organizaciones1 %>">
      <img src="/public/images/condominio/back.png" id="back"/>
         </a>
  </div>
 
  <div data-role="content" data-theme="a">
  <h4 align="center">Cursos Destacados</h4>
 
    <h4 align="center">C&aacute;lculo 1</h4>

    
        <div class="col-sm-6 col-md-3 thumbnail">
            <center><img src="/public/images/inicio/calculoint.jpg" alt="Curso1" class="img-thumbnail" width="100" height="100"></center>
                  <div class="caption">
                      <p align="justify">Curso b&aacute;sico de c&aacute;lculo integral de una sola variable. Se parte desde los conceptos b&aacute;sicos como m&eacute;todos de integraci&oacute;n para encontrar la primitiva de una funci&oacute;n (algunos no muy comunes en textos de c&aacute;lculo) y &aacute;rea bajo una curva para luego proceder a mostrar m&aacute;s de...</p>
                      <p align="center">
                      <a href="<%= url_for :action => :ucla_calculo2 %>" class="btn btn-default">Ver Mas</a>
                       </p>
                   </div>
          </div>
          
                <hr width=100%"/>
                
        <div class="col-sm-6 col-md-3 thumbnail">
             <center><img src="/public/images/inicio/calculovect.jpg" alt="Curso1" class="img-thumbnail" width="100" height="100"></center>
                  <div class="caption">
                     <p align="justify">En este curso se estudiar&aacute;n conceptos relacionados con las funciones de varias variables como una generalizaci&oacute;n de funciones de una variable. Se generalizar&aacute;n tambi&eacute;n conceptos como el L&iacute;mite de una funci&oacute;n, la Derivada, la Integral.</p>
                     <p align="center">
                        <a href="#" class="btn btn-default">Ver Mas</a>
                     </p>
                  </div>
       </div>
         
  </div>
</div><!-- end page -->