
<div class="menu2-content" data-theme="a" div data-role="page" data-theme="a" class="menu2"> 

<div class="header">
  <a href="<%= url_for :action => :ucla_cursos %>">
    <img src="/public/images/condominio/back.png" id="back"/>
    <h1>Calculo 2</h1>
    
  </a>
</div>

  <img src="/public/images/condominio/cl2.jpg" width="400" height="200"/>

</br>
  <script language="javascript" type="text/javascript">
           function muestra(nombrediv) {
           if(document.getElementById(nombrediv).style.display == '') {
                           document.getElementById(nombrediv).style.display = 'none';
           } else {
                           document.getElementById(nombrediv).style.display = '';
           }
             }
     </script>
<table class="table">
           <tr>
           <ul class="nav nav-list">
              <th>
                 <a href="<%= url_for :action => :ucla_organizacion%>">
  Universidad Central Lisandro Alvarado <i class="glyphicon glyphicon-pencil"></i> 
                 </a>
              </th>
             </tr> 
       </table>

        <table class="table">
            <tr>
                 <th>Estado    <i class="glyphicon glyphicon-flag"></i></th>
                 <th>Duraci&oacute;n    <i class="glyphicon glyphicon-time"></i></th>
            </tr>
            <tr>
               <td>Yaracuy</td>
               <td>4 Semanas</td>
            </tr>
            <tr>
                 <th>Idioma <i class="glyphicon glyphicon-plane"></th>
                 <th>Costo    <i class="glyphicon glyphicon-usd"></i></th>
            </tr>  
            <tr>
               <td>Espa&ntilde;ol</td>
               <td>Gratis</td>
            </tr>  
            <tr>
                 <th>Incluye certificado</th>
                 <td><i class="glyphicon glyphicon-remove"></i></td>
              </tr>   
        </table>
         
        <hr width="100%"/>       
 
        <h4>Detalles</h4>
            <p align= "justify">Curso b&aacute;sico de c&aacute;lculo integral de una sola variable. Se parte desde los conceptos b&aacute;sicos como m&eacute;todos de integraci&oacute;n para encontrar la primitiva de una funci&oacute;n (algunos no muy comunes en textos de c&aacute;lculo) y &aacute;rea bajo una curva para luego proceder a mostrar m&aacute;s de la aplicaci&oacute;n de la integral definida como son: s&oacute;lidos de revoluci&oacute;n, presi&oacute;n de l&iacute;quidos, trabajo y otras.</p>
  
<hr width="100%"/>

<! - Listas De Modulos->

  
          <h4 align="center"><b>M&oacute;dulos</b></h4>
          
  <! - MODULO 1->
            <div class="col-sm-6 col-md-3 thumbnail">
            <div class="caption">
             <p><h5><b>Modulo 1:</b> La antiderivada.</h5></p>
             

                        <SCRIPT LANGUAGE="JavaScript">
                          function mi_alerta () {
                          alert ("Te has matriculado con exito!" );}
                        </SCRIPT>
            
            
            
               <a style="Position:Absolute; left:65%; top:20%" onClick="muestra('moduloo1')"; class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></a>
               <a style="Position:Absolute; left:80%; top:20%" onClick="mi_alerta()" class="btn btn-default"><span class="glyphicon glyphicon-check"></span></a>
                        </div>
                                 </div> 
                 <div style="display:none;" id="moduloo1">
                             <ul>
                             <li type= disc>Lecci&oacute;n 1
                             <ul>
                             <li>Introducci&oacute;n al concepto de antiderivada 1 (integral indefinida)
                             <li>Introducci&oacute;n al concepto de antiderivada 2 (integral indefinida)
                             </ul>
                             <ul>
                             <li type= disc>Lecci&oacute;n 2
                             <ul>
                             <li>Introducci&oacute;n al concepto de antiderivada 1 (integral indefinida)
                             </ul>
                               <p align="justify"><h5><b>Objetivos:</b> Establecer el concepto de l&iacute;mite de una funci&oacuten y sus propiedades.</h5></p>
                 </div>
             
 <! - FIN MODULO 1->     
             
<! - MODULO 2->
 
                        <div class="col-sm-6 col-md-3 thumbnail">
                        <div class="caption">
                         <p><h5><b>Modulo 2: </b>Integraci&oacute;n definida </br> y &aacute;rea bajo la curvas.</h5></p>
                         

                                    <SCRIPT LANGUAGE="JavaScript">
                                      function mi_alerta () {
                                      alert ("Te has matriculado con exito!" );}
                                    </SCRIPT>
                                    <a style="Position:Absolute; left:65%; top:20%" onClick="muestra('moduloo2')"; class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></a>
                                       <a style="Position:Absolute; left:80%; top:20%" onClick="mi_alerta()" class="btn btn-default"><span class="glyphicon glyphicon-check"></span></a>
                       
                                    </div>
                                             </div> 
                                         <div style="display:none;" id="moduloo2">
                                                                            <ul>
                                                                            <li type= disc>Lecci&oacute;n 1
                                                                            <ul>
                                                                            <li>Introducci&oacute;n al concepto de antiderivada 1 (integral indefinida)
                                                                            <li>Introducci&oacute;n al concepto de antiderivada 2 (integral indefinida)
                                                                            </ul>
                                                                            <ul>
                                                                            <li type= disc>Lecci&oacute;n 2
                                                                            <ul>
                                                                            <li>Introducci&oacute;n al concepto de antiderivada 1 (integral indefinida)
                                                                            </ul>
                                                                              <p align="justify"><h5><b>Objetivos:</b> Establecer las diferencias entre funciones continuas y funciones discontinuas. Adem&aacute;s, comprender los conceptos de discontinuidad removible y no removible.</h5></p>
                                                                </div>
         
<! - FIN MODULO 2->
<! - MODULO 3->
                                    <div class="col-sm-6 col-md-3 thumbnail">
                                    <div class="caption">
                                     <p><h5><b>Modulo 3: </b>T&eacute;cnicas de </br>Integraci&oacute;n.</h5></p>
                                     

                                                <SCRIPT LANGUAGE="JavaScript">
                                                  function mi_alerta () {
                                                  alert ("Te has matriculado con exito!" );}
                                                </SCRIPT>
                                  
                                                <a style="Position:Absolute; left:65%; top:20%" onClick="muestra('moduloo3')"; class="btn btn-default"><span class="glyphicon glyphicon-chevron-down"></span></a>
                                                                                    <a style="Position:Absolute; left:80%; top:20%" onClick="mi_alerta()" class="btn btn-default"><span class="glyphicon glyphicon-check"></span></a>
                                                            
                                    
                                  
                                                </div>
                                                         </div> 
                                                <div style="display:none;" id="moduloo3">
                                                                                              <ul>
                                                                                              <li type= disc>Lecci&oacute;n 1
                                                                                              <ul>
                                                                                              <li>Introducci&oacute;n al concepto de antiderivada 1 (integral indefinida)
                                                                                              <li>Introducci&oacute;n al concepto de antiderivada 2 (integral indefinida)
                                                                                              </ul>
                                                                                              <ul>
                                                                                              <li type= disc>Lecci&oacute;n 2
                                                                                              <ul>
                                                                                              <li>Introducci&oacute;n al concepto de antiderivada 1 (integral indefinida)
                                                                                              </ul>
                                                                                                <p align="justify"><h5><b>Objetivos:</b>Presentar el concepto fundamental del c&aacute;lculo diferencial &prime;la derivada&prime; y mostrar su relaci&oacute;n directa con los l&iacute;mites y continuidad de las funciones.</h5></p>
                                                                                  </div>
                           
                     

<! - FIN MODULO 3->
