<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :menu_organizaciones1 %>">
  <img src="/public/images/condominio/back.png" id="back"/>

    </a>
   
  </div>
  <div class="menu2-content">
    <h1>Cursos</h1>
    <ul data-role="listview">
      <li><a href="<%= url_for :action => :ucla_calculo2_publicador1 %>">Calculo 2</a></li>
  </div><!-- end content -->
</div><!-- end page -->