<div data-role="page" data-theme="a" >
  <div class="header">
   <a href="<%= url_for :action => :menu_organizaciones1 %>">
      <img src="/public/images/condominio/back.png" id="back"/>
         </a>
  </div>
 
  <div data-role="content" data-theme="a">
  <h4 align="center">Cursos Destacados</h4>
 
    <h4 align="center">C&aacute;lculo 1</h4>
        <div class="col-sm-6 col-md-3 thumbnail">
          <center><img src="/public/images/inicio/calculo1.jpg" alt="Curso1" class="img-thumbnail" width="300" height="200"></center>
            <div class="caption">
             <p align="justify">Con este curso se pretende que el estudiante se familiarice con los conceptos propios del an&aacute;lisis matem&aacute;tico y este en capacidad de emplear las funciones para modelar fen&oacute;menos relacionados con su actividad profesional as&iacute; como...</p>
             <p align="center">
              <a href="<%= url_for :action => :ucla_calculo1 %>" class="btn btn-default">Ver Mas</a>
             </p>
            </div>
         </div>
                <hr width="100%"/>
                </div>
              </div><!-- end page -->