
<div class="menu2-content" data-theme="a" div data-role="page" data-theme="a" class="menu2"> 

<div class="header">
  <h1>Calculo 1</h1>
  <a href="<%= url_for :action => :ucla_cursos %>">
    <img src="/public/images/condominio/back.png" id="back"/>
  </a>
</div>

  <img src="/public/images/condominio/cal.jpg" width="400" height="200"/>


<table class="table">
           <tr>
           <ul class="nav nav-list">
              <th>
                
            
                    <a href="<%= url_for :action => :unefa_organizacion %>">
  Universidad Nacional Experimental Politecnica de la Fuerza Armada Bolivariana
                      <i class="glyphicon glyphicon-pencil"></i> 
                    </a>
                 
              </th>
             </tr> 
       </table>

        <table class="table">
            <tr>

               <th>Estado    <i class="glyphicon glyphicon-flag"></i></th>
               <th>Duraci&oacute;n    <i class="glyphicon glyphicon-time"></i></th>
            </tr>
            <tr>
               <td>Lara</td>
               <td>3 Semanas</td>
            </tr>
            <tr>
               <th>Idioma <i class="glyphicon glyphicon-plane"></th>
               <th>Costo    <i class="glyphicon glyphicon-usd"></i></th>
            </tr>  
            <tr>
               <td>Espa&ntilde;ol</td>
               <td>3$ por m&oacute;dulos</td>
            </tr> 
            <tr>
               <th>Incluye certificado</th>
               <td><i class="glyphicon glyphicon-ok"></i></td>
            </tr>   

        </table>
         
        <hr width="100%"/>       
 
        <h4>Detalles</h4>
            <p>Con este curso se pretende que el estudiante se familiarice con los conceptos propios del an&aacute;lisis matem&aacute;tico 
              y este en capacidad de emplear las funciones para modelar fen&oacute;menos relacionados con su actividad profesional as&iacute; como emplear la derivada para analizar crecimientos y decrecimientos, resolver problemas de optimizaci&oacute;n y de raz&oacute;n instant&aacute;nea de cambio.</p>
  
<hr width="100%"/>

<! - Listas De Modulos->

  <! - MODULO 1->
            <div class="col-sm-6 col-md-3 thumbnail">
            <div class="caption">
             <p><h5><b>Modulo 1:</b> L&iacute;mite de funciones </br>de variable real.</h5></p>
             
             <script language="javascript" type="text/javascript">
                      function muestra(nombrediv) {
                      if(document.getElementById(nombrediv).style.display == '') {
                                      document.getElementById(nombrediv).style.display = 'none';
                      } else {
                                      document.getElementById(nombrediv).style.display = '';
                      }
                        }
                </script>

          
                
            <a style="Position:Absolute; left:60%; top:5%" onClick="muestra('modulo1')";><button type="button"><span class="glyphicon glyphicon-chevron-down"></span></button></a>
            
            <div style="display:none;" id="modulo1">
                       
                          <p align="justify"><h5><b>Objetivos:</b>Establecer el concepto de l&iacute;mite de una funci&oacuten y sus propiedades.</h5></p>
            </div>
                        <a href="<%= url_for :action => :matricularse %>"><div style="Position:Absolute; left:80%; top:5%"><button type="button"><span class="glyphicon glyphicon-check"></span></button></div>
                        </div>
                                 </div> 
             
 <! - FIN MODULO 1->     
             
<! - MODULO 2->
 
                        <div class="col-sm-6 col-md-3 thumbnail">
                        <div class="caption">
                         <p><h5><b>Modulo 2: </b> Continuidad.</h5></p>
                         
                         <script language="javascript" type="text/javascript">
                                  function muestra(nombrediv) {
                                  if(document.getElementById(nombrediv).style.display == '') {
                                                  document.getElementById(nombrediv).style.display = 'none';
                                  } else {
                                                  document.getElementById(nombrediv).style.display = '';
                                  }
                                    }
                            </script>
                            
                            
                        <a style="Position:Absolute; left:60%; top:5%" onClick="muestra('modulo2')";><button type="button"><span class="glyphicon glyphicon-chevron-down"></span></button></a>
                        
                        <div style="display:none;" id="modulo2">
                                      <p align="justify"><h5><b>Objetivos:</b> Establecer las diferencias entre funciones continuas y funciones discontinuas. Adem&aacute;s, comprender los conceptos de discontinuidad removible y no removible.</h5></p>
                        </div>
                                    <a href="<%= url_for :action => :matricularse %>"><div style="Position:Absolute; left:80%; top:5%" ><button type="button"><span class="glyphicon glyphicon-check"></span></button></div></a>
                                    </div>
                                             </div> 
               
         
<! - FIN MODULO 2->
<! - MODULO 3->
                                    <div class="col-sm-6 col-md-3 thumbnail">
                                    <div class="caption">
                                     <p><h5><b>Modulo 3: </b>T&eacute;cnicas de </br>Integraci&oacute;n.</h5></p>
                                     
                                     <script language="javascript" type="text/javascript">
                                              function muestra(nombrediv) {
                                              if(document.getElementById(nombrediv).style.display == '') {
                                                              document.getElementById(nombrediv).style.display = 'none';
                                              } else {
                                                              document.getElementById(nombrediv).style.display = '';
                                              }
                                                }
                                        </script>
                                         
                                  
                                        
                                    <a style="Position:Absolute; left:60%; top:5%" onClick="muestra('modulo3')";><button type="button"><span class="glyphicon glyphicon-chevron-down"></span></button></a>
                                    
                                    <div style="display:none;" id="modulo3">
                                                
                                                  <p align="justify"><h5><b>Objetivos:</b>Presentar el concepto fundamental del c&aacute;lculo diferencial &prime;la derivada&prime; y mostrar su relaci&oacute;n directa con los l&iacute;mites y continuidad de las funciones.</h5></p>
                                    </div>
                                                <a href="<%= url_for :action => :matricularse %>"><div style="Position:Absolute; left:80%; top:5%" ><button type="button"><span class="glyphicon glyphicon-check"></span></button></div></a>
                                                </div>
                                                         </div> 
                           
                     

<! - FIN MODULO 3->

    
        
</div>