<div data-role="page" data-theme="a" class="menu2">
  <div class="header">
    <a href="<%= url_for :action => :prueba %>">
  <img src="/public/images/inicio/back.png" id="back"/>

    </a>
   
  </div>
  <div class="menu2-content">
    <h1>Cocina</h1>
    <ul data-role="listview">
      <li><a href="<%= url_for :action => :recetas %>">Recetas Nacionales</a></li>
      <li><a href="#">Recetas Internacionales</a></li>
      <li><a href="#">Instructivos de Recetas Nacionales</a></li>
      <li><a href="#">Instructivos de Recetas Internacionales</a></li>
    </ul>
  </div><!-- end content -->
</div><!-- end page -->