
<div class="menu2-content" data-theme="a" div data-role="page" data-theme="a" class="menu2"> 

    <div class="header">
      <h1>Calculo 1</h1>
        <a href="<%= url_for :action => :unefa_cursos_consumidor1 %>">
        <img src="/public/images/condominio/back.png" id="back"/>
        </a>
     </div>
  <table class="table">
             <tr>
             <ul class="nav nav-list">
                <th>
                    <a href="#">
                    <i class="glyphicon glyphicon-ok"></i>
                     Semana 1 
                    </a>
                   
              </th>
              </tr> 
              <tr>
                <ul class="nav nav-list">
                <th>
                    <a href="#">
                    <i class="glyphicon glyphicon-ok"></i>
                     Semana 2 
                    </a>
                   
                </th>
               </tr> 
 </table>
</div>