<div class="menu2-content" data-theme="a" div data-role="page" data-theme="a" class="menu2">
 <div class="header">
  <a href="<%= url_for :action => :index %>">
      <img src="/public/images/xlearning/back.png" id="back"/>
    </a>
  <div id="index-logo">
      <img src="/public/images/xlearning/XLearning-blue-sin-slogan.png" height="70px" />
    </div>
  </div> 
       <b><h3>&iquest;Qui&eacute;nes Somos?</h3></b>
       <p align="justify">Somos una organizaci&oacute;n nueva en el mercado actual que pretende brindarles a nuestros clientes un servicio exclusivo en todo lo relacionado a servicios de educaci&oacute;n a distancia.
       </p>

    <b><h3>&iquest;Qu&eacute; Hacemos?</h3></b>
        <p align="justify">Brindar servicios de educaci&oacute;n a distancia promoviendo el X-Learning, donde cualquier persona interesada en sus servicios, sean empresas, personas naturales o jur&iacute;dicas, podr&aacute;n hacer uso de la plataforma en cursos de temas particulares, los cuales pueden ser gratuitos o no. Una gran ventaja ser&aacute; al momento en que una empresa precise cursos colectivos de adiestramiento en un &aacute;rea espec%iacute;fica, esta podr&aacute alquilar la plataforma por el tiempo que les sea necesario.
          El sistema podr&aacute; ser adquirido por los clientes para hacer uso de este el tiempo que precisen, donde podr&aacute;n distribuir y exhibir los contenidos de aprendizaje que deseen.
    </p>
  
    <b><h3>Car&aacute;cteristicas:</h3></b>
    <p align="justify">
      Nuestro Sistema de Aprendizaje nos permite ofrecerles los siguientes servicios:
    </p>
    <ul>
      <li align="justify">
        Sistema WEB y Movil Para el Aprendizaje 
        cualquier momento y lugar.
      </li>
      <li align="justify">
         Forma de aprendizaje que se acomoda al tiempo y necesidad del estudiante. 
      </li>
      <li align="justify">
        Facilita el manejo de la informaci&oacute;n y de los contenidos del tema que se quiere tratar.
      </li>
   </ul>
   </br>

        <center> <a href="<%= url_for :action => :solicitar_servicio %>" class="btn btn-default ">Solicitar Servicio</font></a></center>
      
         
                     
      
 </div>   
                                                                 </br> 