<div class="menu2-content" data-theme="a" div data-role="page" data-theme="a" class="menu2">
  <div class="header">
  <h3 style="color:black;">Cont&aacute;ctenos</h3>
    <a href="<%= url_for :action => :index %>">
      <img src="/public/images/xlearning/back.png" id="back"/>
  <div id="logo">
  <img src="/public/images/xlearning/short-XLearning-blue.png" height="65px"/>
</div>
    </a>
    
   </div>

  
  <div> 
        <ul>
            <center><img src="/public/images/inicio/rosma1.jpg" height="70px" /></center><br>
            <i class="glyphicon glyphicon-user"></i>  <b>Rosmary Fuentes </br> 
            <i class="glyphicon glyphicon-phone"></i>  <b>0412.6577935 </br>
            <i class="glyphicon glyphicon-envelope"></i>  <b>pilierirosmary@gmail.com
        </ul>
            <hr width="550">
         <ul>
             <center><img src="/public/images/inicio/gipsy.jpg" height="70px" /></center><br>
             <i class="glyphicon glyphicon-user"></i>  <b>Gipsy Hernandez </br> 
             <i class="glyphicon glyphicon-phone"></i>  <b>0424.5113792 </br>
             <i class="glyphicon glyphicon-envelope"></i>  <b>gipsyhv@gmail.com
         </ul>
            <hr width="550">
          <ul>
              <center><img src="/public/images/inicio/michael.jpg" height="70px" /></center><br>
              <i class="glyphicon glyphicon-user"></i>  <b>Michael Marziliano </br> 
              <i class="glyphicon glyphicon-phone"></i>  <b>0424.5358566 </br>
              <i class="glyphicon glyphicon-envelope"></i>  <b>michaelmarziliano26178@gmail.com
          </ul>
            <hr width="550">
          <ul>
                <center><img src="/public/images/inicio/abner.jpg" height="70px" /></center><br>
                <i class="glyphicon glyphicon-user"></i>  <b>Abner Saavedra </br> 
                <i class="glyphicon glyphicon-phone"></i>  <b>0416.0374353</br>
                <i class="glyphicon glyphicon-envelope"></i>  <b>abnersaavedra777@gmail.com
          </ul>
   </div> 
</div> 