<div data-role="page" data-theme="a" class="menu2">
  
    <div id="index-logo">
      </br></br></br></br></br></br></br></br></br>
      <center>  <a href="<%= url_for :action => :menu_organizaciones%>"><img src="/public/images/xlearning/XLearning-blue.png" height="100px" /></a></center>
      </br>  </br>
    </div>
       
         <div id="about" data-role="navbar">
               <ul>
                 <li><a href="<%= url_for :action => :acerca %>">Acerca</a></li>
                 <li><a href="<%= url_for :action => :contacto %>">Contacto</a></li>
               </ul>
             </div>
                  
             
