<div data-role="page"  >
  <div class="header">
  
<h3 style="color:black;">X-Learning</h3>
<div id="logo">
<a href="<%= url_for :action => :super_config %>" >

<img src="/public/images/xlearning/short-XLearning-blue.png" height="65px"/>
</a>
  </div>
   </div>

</br></br></br>
<div data-role="content" data-theme="a">
<ul data-role="listview"  data-filter="true" data-inset="true">


  
<li><a style="color:black" href="#popupdos" data-rel="popup" data-position-to="window"><img height="100px" src="/public/images/inicio/univer_logo/ucla.jpg" ><h3>UCLA</h3><p>La mejor universidad</p></a></li>
<li><a href="<%= url_for :action => :cursos_consumidor1_unefa %>"><img height="100px" src="/public/images/inicio/univer_logo/unefa_logo.jpg"><h3>UNEFA</h3><p>Universidad del gobierno</p></a></li>

<li><a href=""><img height="100px" src="/public/images/inicio/univer_logo/asochef.jpg"<h3>ASOCHEF</h3><p>En construccion</p></a></li>
<li><a href=""><img height="100px" src="/public/images/inicio/univer_logo/mpc.jpg"><h3>MPC CORREDOR DE SEGUROS</h3><p>En construccion</p></a></li>

<li><a href=""><img height="100px" img src="/public/images/inicio/univer_logo/tunal.jpg"><h3>EL TUNAL</h3><p>En construccion</p></a></li>

<li><a href=""><img height="100px" src="/public/images/inicio/univer_logo/logo_ula.jpg"<h3>ULA</h3><p>En construccion</p></a></li>
<li><a href=""><img height="100px"  src="/public/images/inicio/univer_logo/log_uc.png"><h3>UC</h3><p>En construccion</p></a></li>

<li><a href=""><img height="100px" src="/public/images/inicio/univer_logo/logoUDO.jpg"<h3>UDO</h3><p>En construccion</p></a></li>
<li><a href=""><img height="100px"  img src="/public/images/inicio/univer_logo/ubv.gif"><h3>UBV</h3><p>En construccion</p></a></li>

<li><a href=""><img height="100px" src="/public/images/inicio/univer_logo/ucvlogo.jpg"<h3>UCV</h3><p>En construccion</p></a></li>
<li><a href=""><img height="100px"  src="/public/images/inicio/univer_logo/usb.png"><h3>USB</h3><p>En construccion</p></a></li>

</ul>
</div>   

     <div data-role="popup" id="popupdos" data-overlay-theme="a" data-theme="b" style="max-width:600px"  align="center" class="ui-corner-bottom ui-content">
         <form name="form2" >                                       
           <a>INICIAR SESION</a>   
           <input type="text" id="usuario" name="usuario" class="itemValue" placeholder="Usuario" />
           <input type="password" id="pass" name="pass" class="itemValue" placeholder="Contrase&ntilde;a" />
           <fieldset data-role="controlgroup" data-type="horizontal">
             <center> <button type="submit" class="btn btn-default" onclick="usrpas()">Entrar</button>     
             <button type="reset" class="btn btn-default">Limpiar</button>  </center> 
            </fieldset>
                 <a href="#popup1" data-rel="popup" data-position-to="window">&iquest;Olvid&oacute; su contrase&ntilde;a?</a></br>
                 <a href="#popup2" data-rel="popup" data-position-to="window">Registrate!</a>                                                      
           </from>
     </div>
    
               <div data-role="popup" id="popup1" data-overlay-theme="a" data-theme="b" style="max-width:600px"  align="center" class="ui-corner-bottom ui-content">
                   <form name="form2" >                                      
                     <a>Cambiar contrase&ntilde;</a>   
                     <input type="text" id="email" name="email" class="itemValue" placeholder="Ingrese su email" />
                       
                       <center> <button type="submit" class="btn btn-default" onclick="usrpas()">Enviar</button>     
                      </fieldset>
                           <a href="#popup_contraseņa" data-rel="popup" data-position-to="window">&iquest;Olvid&oacute; su contrase&ntilde;a?</a></br>
                           <a href="#popup_registrate" data-rel="popup" data-position-to="window">Registrate!</a>                                                      
                     </from>
               </div>                
     
     
     
     
    <script>
        function usrpas(){
        if (document.form1.usuario.value=="usuario" && document.form1.clave.value=="123"){window.location="/app/Xlearning/index";return}
        else {alert("Error en Usuario o Contraseņa. Intenta de nuevo.")}
        }
        document.oncontextmenu=new Function("return false");
    </script>



</div>