<div class="menu2-content" data-theme="a" div data-role="page">
<div class="header">
  <h3 style="color:black;">Solicitar Servicio</h3>
    <a href="<%= url_for :action => :index %>">
      <img src="/public/images/xlearning/back.png" id="back"/>
<div id="logo">
<img src="/public/images/xlearning/short-XLearning-blue.png" height="65px"/>
</div>
    </a>
   </div>
<div>
<center><img src="/public/images/inicio/pago.jpg" height="70px" /></center>    
</div>
<div  data-overlay-theme="a" data-theme="a" style="max-width:600px" class="ui-corner-all">
     
                                     </div>
                                     <div data-role="content" align="justify" data-theme="d" class="ui-corner-bottom ui-content">
                                       <div class="alert alert-info"> 
                                       Si eres una organizacion que esta interesada en adquirir un espacio en nuestra plataforma x-learning, estos son nuestros planes:
      
                                       </br></br>
                                       <center><strong>
                                       TRIVIAL:  3 meses  6000Bs.F </br>
                                       MEDIUM:  6 meses  10000Bs.F </br>
                                       PREMIUM:  12 meses  13000Bs.F
                                       </center></strong> </div>
                                        
                                                                           
                                       <form name="form2">
                                       <input type="text" id="nombre" name="nombre" class="itemValue" placeholder="Nombre de la organizacion" />
                                                <input type="text" id="email" name="email" class="itemValue" placeholder="E-mail" />
                                                  <input type="text" id="rif" name="rif" class="itemValue" placeholder="R.I.F." />
                                                    
                                              
                                                 
                                                             <select name="Tipo de servicio">
                                                             <option style="color:black">TRIVIAL</option>
                                                             <option style="color:black">MEDIUM </option>
                                                             <option style="color:black">PREMIUM </option>
                                                             </select>
              
                                       </from>
                                       
          <SCRIPT LANGUAGE="JavaScript">
          function mi_alerta () {
          alert ("Solicitud enviada con exito. Revise su correo electronico." );
          }
          </SCRIPT>
          </br>
          <center> 
          <a href="#popup1" data-rel="popup" data-position-to="window" class="btn btn-default ">Pago en linea</font></a>
          <a href="#popup2" data-rel="popup" data-position-to="window" class="btn btn-default ">Transferencia</font></a>
          </center>
          
          <div data-role="popup" id="popup1" data-overlay-theme="a" data-theme="a" style="max-width:600px" class="ui-corner-all">
              <div data-role="header" data-theme="a" class="ui-corner-top">
              <center><font>Pago en linea</font></center>
              </div>
              <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
              <div class="alert alert-info"> &iexcl;Introduce los datos con Cuidado! 
              </div>
              <form name="form2">
              
              <input type="text" id="email" name="email" class="itemValue" placeholder="Numero de tajeta" />
              <input type="text" id="rif" name="rif" class="itemValue" placeholder="Cedula o rif" />
              <input type="text" id="rif" name="rif" class="itemValue" placeholder="Nombre completo" />
              <input type="text" id="rif" name="rif" class="itemValue" placeholder="Correo electronico" />
              <input type="text" id="rif" name="rif" class="itemValue" placeholder="Monto seteado" />
              </from>
              
              
              <SCRIPT LANGUAGE="JavaScript">
              function mi_alerta () {
              alert ("Pago exitoso, revise correo electronico." );
              }
              </SCRIPT>
              <center> <a href="<%= url_for :action => :menu_organizaciones %>" class="btn btn-default" onclick="mi_alerta()">Enviar</a></center>
          </div> 
          
          
        <div data-role="popup" id="popup2" data-overlay-theme="a" data-theme="a" style="max-width:600px" class="ui-corner-all">                                                                         <div data-role="header" data-theme="a" class="ui-corner-top">
        <center><font>Transferencia</font></center>
        </div>
        <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
          <div class="alert alert-info"> &iexcl;Introduce los datos con Cuidado! 
          </div>                                                                                                              
           <form name="form3">
              <input type="text" id="email" name="email" class="itemValue" placeholder="Numero de movimiento" />
              <input type="text" id="rif" name="rif" class="itemValue" placeholder="Cedula o rif" />
              <input type="text" id="rif" name="rif" class="itemValue" placeholder="Nombre completo" />
              <input type="text" id="rif" name="rif" class="itemValue" placeholder="Correo electronico" />
              <input type="text" id="rif" name="rif" class="itemValue" placeholder="Monto seteado" />
            </from>                                                                                                
                                                                                                               
          <SCRIPT LANGUAGE="JavaScript">
          function mi_alerta () {
          alert ("Pago exitoso, revise correo electronico." );
          }
          </SCRIPT>
          <center> <a href="<%= url_for :action => :menu_organizaciones %>" class="btn btn-default" onclick="mi_alerta()">Enviar</a></center>
      </div> 
                                                                  
                                                               
</div>                    
</div>  
 </div> 
                                                              