<div class="menu2-content" data-theme="a" div data-role="page">
  <div class="header">
  <h3 style="color:black;">Configuracion</h3>
    <a href="<%= url_for :action => :menu_organizaciones %>">
      <img src="/public/images/xlearning/back.png" id="back"/>
<div id="logo">
<img src="/public/images/xlearning/short-XLearning-blue.png" height="65px"/>
</div>
    </a>
   </div>

    <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
          <div class="alert alert-info"> 
          Esta seccion es dedicada a <strong>Superusuarios</strong> autorizados para realizar modificaciones.</div>
        
      <div id="login-form">
          <form name="form1" >
        <div data-role="fieldcontain">
          <input type="text" id="usuario" name="usuario" class="itemValue" placeholder="Nombre de Usuario" />
        </div>
        <div data-role="fieldcontain">
          <input type="password" id="clave" name="clave" class="itemValue" placeholder="Contrase&ntilde;a" />
        </div>
        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup" data-type="horizontal">
            <button type="submit" class="btn btn-default" onclick="usrpas()">Entrar</button>     
            <button type="reset" class="btn btn-default">Limpiar</button>   
          </fieldset>
        </div>
      </form>
              <a style="color:black" href="#popupuno" data-rel="popup" data-position-to="window">&iquest;Olvid&oacute; su contrase&ntilde;a?</a>
                      <div class="content" data-theme="a">
        
                      <div data-role="popup" id="popupuno" data-overlay-theme="a" data-theme="a" style="max-width:600px" class="ui-corner-all">
                                      <div data-role="header" data-theme="a" class="ui-corner-top">
                                        <center><font>Cambio de contrase&ntilde;a:</font></center>
                                      </div>
                                      <div data-role="content" align="center" data-theme="d" class="ui-corner-bottom ui-content">
                                        <div class="alert alert-info"> &iexcl;Cuidado!
                                        Es muy importante que leas este mensaje. Para cambiar tu contrase&ntilde;a es 
                                        necesario que introduzcas tu e-mail, y luego revises tu correo electronico si no 
                                        te ha llegado nuestro correo revisa los correos no deseados.
                                         </div>
                                     
                                        <form name="form2" >
                                                 <input type="text" id="email" name="email" class="itemValue" placeholder="Introduzca su e-mail" />
                                        </from>
                                        
                                                   <SCRIPT LANGUAGE="JavaScript">
                                                            function mi_alerta () {
                                                            alert ("E-mail enviado con exito. Revise su correo electronico." );
                                                            }
                                                            </SCRIPT>
                                                              <center> <a href="<%= url_for :action => :login %>" class="btn btn-default" onclick="mi_alerta()">Enviar</a></center>
                      
                                        </div> </div>
            </div>
                      <script>
                      function usrpas(){
                       if (document.form1.usuario.value=="super" && document.form1.clave.value=="123"){window.location="/app/Xlearning/superusuario";return}
        
                      else {alert("Error en Usuario o Contraseņa. Intenta de nuevo.")}
                      }
                      document.oncontextmenu=new Function("return false");
                      </script>
        
          </div>   
      
      
      
                                                   </div> 
 </div> 
                                                              