<div class="menu2-content" data-theme="a" div data-role="page" data-theme="a" class="menu2">  
    <div class="header">
       <h1>Pagos procesados </h1>
       <a href="#slide-menu">
          <div id="bars">
            <img src="/public/images/xlearning/bars2.png" height="20px"/>
           </div>
        </a>
     </div>
        <script>
         function deleteRow(r) {
             var i = r.parentNode.parentNode.rowIndex;
             document.getElementById("myTable").deleteRow(i);
         }
         </script>     

 

        <div class="col-sm-6 col-md-3 thumbnail">
          <div class="caption">
            <div >    
<table id="myTable" class="table table-bordered">
                    <tr>
                      <td><strong>Organizacion</strong></td>
                      <td><strong>Fecha</strong></td>
                      <td><strong>Tipo de servicio</strong></td>
                    </tr>
                    <tr>
                      <td>ULA</td>
                      <td>12/12/2014</td>
                      <td>Premium</td>
                    </tr>
                    <tr>
                      <td>UC</td>
                      <td>16/12/2014</td>                        
                      <td>Medium</td>
                      </tr>
                          <tr>
                        <td>UDO</td>
                          <td>22/12/2014</td>                          
                        <td>Trivial</td>         
                        </tr>
                      </table>
       </div>
         </div>
         </div>
       <!-- Slide Panel -->
          <div id="slide-menu" data-role="panel" data-position="left" data-position-fixed="false" data-display="overlay" data-theme="a">
                                              
            <ul data-role="listview">
       <li><a href="<%= url_for :action => :superusuario %>">Menu principal</a></li>
       <li><a href="<%= url_for :action => :super_solicitudes %>">Solicitudes pendientes</a></li>
        <li><a href="<%= url_for :action => :super_pagos %>">Pagos procesados</a></li>
       <li><a href="<%= url_for :action => :logout %>">Cerrar Sesi&oacute;n</a></li>
       </ul>
  
          </div><!-- End Slide Panel -->
</div><!-- end page -->

                  