<div class="menu2-content" data-theme="a" div data-role="page" data-theme="a" class="menu2">  <div class="header">
       <h1>Menu SuperUsuario</h1>
       <a href="#slide-menu">
          <div id="bars">
          <img src="/public/images/xlearning/bars2.png" height="20px"/>   
          </div>
       </a>
  
  </div>
            <script>
              function deleteRow(r) {
                  var i = r.parentNode.parentNode.rowIndex;
                  document.getElementById("myTable").deleteRow(i);
              }
              </script>     
              
 
        
                
                  <center><font><strong><h3>Lista de las solicitudes pendientes</h3></strong></font></center>
                  </br>
                    <table id="myTable" class="table table-bordered">
                    <tr>
                      <td><strong>Organizacion</strong></td>
                      <td><strong>Tipo de servicio</strong></td>
                      <td><strong>Fecha</strong></td>
                      <td><strong></strong></td> 
                      <td><strong></strong></td> 
                    </tr>
                    <tr>
                      <td>ULA</td>
                      <td>Trivial</td>
                      <td>12/12/2014</td>
                      <td><a   class="btn btn-default" value="Delete" onclick="deleteRow(this)"><span class="glyphicon glyphicon-ok"></a></td>
                      <td><a  class="btn btn-default" value="Delete" onclick="deleteRow(this)"><span class="glyphicon glyphicon-remove"></span></a></td>

                      </tr>
                    <tr>
                      <td>UC</td>
                      <td>Medium</td>
                      <td>12/12/2014</td>
                        <td><a  class="btn btn-default" value="Delete" onclick="deleteRow(this)"><span class="glyphicon glyphicon-ok"></span></a></td>
                        <td><a  class="btn btn-default" value="Delete" onclick="deleteRow(this)"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                      <tr>
                        <td>UDO</td>
                        <td>Premium</td>
                      <td>12/12/2014</td>
                          <td><a class="btn btn-default" value="Delete" onclick="deleteRow(this)"><span class="glyphicon glyphicon-ok"></span></a></td>
                          <td><a  class="btn btn-default" value="Delete" onclick="deleteRow(this)"><span class="glyphicon glyphicon-remove"></span></a></td>
                      </tr>
                    </table>
        
    <!-- Slide Panel -->
        <div id="slide-menu" data-role="panel" data-position="left" data-position-fixed="false" data-display="overlay" data-theme="a">
               <ul data-role="listview">
                           <li><a href="<%= url_for :action => :superusuario %>">Menu principal</a></li>
                           <li><a href="<%= url_for :action => :super_solicitudes %>">Solicitudes pendientes</a></li>
                            <li><a href="<%= url_for :action => :super_pagos %>">Pagos procesados</a></li>
                           <li><a href="<%= url_for :action => :logout %>">Cerrar Sesi&oacute;n</a></li>
                           </ul>
                      
       </div><!-- End Slide Panel -->
</div><!-- end page -->
