<div data-role="page">
  <div class="header">
   </div>

</br></br></br></br></br>
<div data-role="content" data-theme="a">
    <center><p><b>Actualizar logo</b></p></center>

       <div class="form-group">
        <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
        <input type="file" id="ejemplo_archivo_1">
        <p class="help-block"></p>
       </div>
       
       </br>
       <center><p><b>Actualizar pie de p&aacute;gina</b></p></center>

           <div class="form-group">
            <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
            <input type="file" id="ejemplo_archivo_1">
            <p class="help-block"></p>
           </div>
      </div>
</div>