<div data-role="page" data-theme="a" >
  <div class="header">
       <h1>Menu SuperUsuario</h1>
       <a href="#slide-menu">
          <div id="bars">
            <img src="/public/images/xlearning/bars.png" height="17px"/>
            </div>        
       </a>
  </div>
</br></br></br></br></br></br></br></br></br></br>
          <div>
          <center><img src="/public/images/xlearning/XLearning-blue.png" height="100px" /></center>
            </div> 
  
  
      <!-- Slide Panel -->
<!-- Slide Panel -->
    <div id="slide-menu" data-role="panel" data-position="left" data-position-fixed="false" data-display="overlay" data-theme="a">
        
          <ul data-role="listview">
          <li>
                  <center>  <img class="img-circle" width="80px" height="80px" src="/public/images/inicio/superusuario.jpg" alt="Xlearning" class="img-responsive" /></center>
          
                    <br>
                    <p align="center"> <b>Super Usuario</b></p>
          </li>
          <ul data-role="listview">
              <li><a href="<%= url_for :action => :superusuario %>">Menu principal</a></li>
              <li><a href="<%= url_for :action => :super_actualizar %>">Actualizacion de logo y Pie de P&aacute;gina</a></li>
              <li><a href="<%= url_for :action => :super_pagos %>">Pagos procesados</a></li>
              <li><a href="<%= url_for :action => :logout %>">Cerrar Sesi&oacute;n</a></li>
          </ul>
</div><!-- End Slide Panel -->
   </div><!-- end page -->